[2014-06-05 13:45] dhenry-KCI opened #1 "SELECTION- Select tools on map no results are returned-6.11.36"
When using the select tools (polygon, rectangle, etc) on the map no results are returned to the user.

[2014-06-05 13:47] ehsan67 commented on #1
What is the strategy type? @dhenry-KCI

[2014-06-05 15:40] dhenry-KCI opened #2 "SELECTION- (TMDL WIDGET)- Shop Filter-"
When the user initially filters by DISTRICT and COUNTY, the available SHOPS within that COUNTY are filtered. But, if the user changes the DISTRCT filter, the COUNTY will update with the appropriate COUNTY's for that DISTRICT but the SHOPS filter will not update.

[2014-06-05 15:41] #2 closed, assigned to ehsan67

[2014-06-05 15:44] dhenry-KCI opened #3 "SELECTION- TMDL WIDGET- Shop Filter"
When the user initially filters by DISTRICT and COUNTY, the available SHOPS within that COUNTY are filtered. But, if the user changes the DISTRCT filter, the COUNTY will update with the appropriate COUNTY's for that DISTRICT but the SHOPS filter will not update.

[2014-06-05 16:04] dhenry-KCI opened #4 "SELECTION- (TMDL WIDGET) Filters"
If the user accidentally selects a DISTRICT and would rather filter by COUNTY, there is no way to remove the selection without doing one of the following:
1. Clicking the Reset button- which will reset all filters including the SELECT BY filters at the top OR
2. Selecting a different DISTRICT

[2014-06-05 16:05] rmeitl opened #5 "SELECTION - FILTERS (TMDL WIDGET)"
6.11.10
When you **only select a 6 Digit Watershed, the 8 Digit Watershed and 12 Digit Watershed does not filter.

When you **only select an 8 Digit Watershed, it does not pre-populate the 6 Digit Watershed or filter the 12 Digit Watershed.

When you **only select a 12 Digit Watershed, it does not prepopulate the six and eight-digit watershed number and name.

**The filtering seems to work when yo

[2014-06-05 16:38] rmeitl opened #6 "SELECTION RESULTS (TMDL WIDGET) - Catch Basin Cleaning"
When selecting All TMDL Strategies: Catch Basin Cleaning will filter when you have a district or a county selected.

But all 75 records are retrieved when you query on anything other than county or district. Since Catch Basin Cleaning is different than most strategies, we should talk with Jeff to see what queries the form should support, then we can go from there.

[2014-06-05 16:59] dhenry-KCI opened #7 "VIEWING SELECTION RESULTS- (TMDL WIDGET)- Mechanical Street Sweeping- 6.30"
When the user filters by Strategy Type= Mechanical Street Sweeping the results are returing multiple assets with the same Stru_ID. Also for those records with mulitple STRU_ID's the following errorr appears:

[2014-06-05 18:04] dhenry-KCI opened #8 "SELECTION (TMDL WIDGET)- COUNTY FILTER"
When using SELECT BY FORM, the COUNTY dropdown filter is missing the following COUNTY values:
QUEEN ANNE"S
St. MARY"S
SOMERSET
TALBOT
WASHINGTON
WICOMICO
WORCESTER
BALTIMORE CITY

These values should be added to the dropdown.

[2014-06-05 18:26] ehsan67 commented on #8
I checked the database, we don't have theses counties in our database @dhenry-KCI

[2014-06-05 18:34] rmeitl opened #9 "TMDL RESULTS (TMDL WIDGET) Ascending/Descending"
6.12.1
In the results tabs, all fields should be sortable ascending and descending.

[2014-06-05 19:04] ehsan67 commented on #7
fixed

[2014-06-05 19:04] #7 closed, assigned to nobody

[2014-06-05 19:05] rmeitl opened #10 "SELECTION - FILTERS (TMDL WIDGET) - enhancement for v.1.1"
6.11.12.1
The system will filter contracts in relation to the select by filter as well as the contract type.

Example:

Select By: TMDL Strategies, Stream Restoration
Contract Type: Design Engineering
Filter the Contract Number to only show the design contracts associated to Stream Restoration strategies.

[2014-06-05 19:20] dhenry-KCI opened #11 "VIEWING/EDITING- (TMDL WIDGET)- RESULTS tab 6.27/6.27.1"
![restoration_tab](https://cloud.githubusercontent.com/assets/4129185/3192477/c883208a-ece6-11e3-9438-1ba52174473b.JPG)
When the user is reviewing the results tab where , SELECT BY = TMDL STRATEGIES. Stream Restoration the widget relates each STREAM RESTORATION to many STREAM LIMITS. Then within the Limits subtab is a RESTORATION TYPE field. Each Limit has many RESTORATION TYPE(s) with each unique

[2014-06-05 19:23] rmeitl opened #12 "SELECTION RESULTS (TMDL WIDGET) - number of records in results tab"
6.12.3.1
The system will show the number of records returned as the result of any query on the Results Tab.
(Is it possible to put this dynamic piece of text behind Selected TMDL Strategies: 54 results?)

[2014-06-05 19:26] ecomwu commented on #12
yes. It can be dynamically changed based on selection result. I will add it.

[2014-06-05 19:26] rmeitl opened #13 "SELECTION RESULTS (TMDL WIDGET) - deselect - enhancement v.1.1"
6.12.3.1
The system will allow a user to unselect a previously selected feature without losing the results of the previous query.

[2014-06-05 19:59] ecomwu commented on #11
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-05 20:00] dhenry-KCI opened #14 "SELECTION (TMDL WIDGET)- Select by Form -Select Button"
If a user has entered their filter criteria, (Strategy and Strategy Type and then Contract or Geography) and they hit the select button to display the results if there are no results to display the widget should alert the user with "The Selection has found no results. Please try a new selection."

[2014-06-05 20:00] ecomwu commented on #12
I fixed it and committed my change to repository. Please test it later.

[2014-06-09 13:58] dhenry-KCI opened #15 "Site Selection-(TMDL WIdget)- Type Field -6.13"
The TYPE Field for SIte Selection records is populated in the Feature Manager table but when viewing individual records the TYPE field is NOT populated.
![type field](https://cloud.githubusercontent.com/assets/4129185/3217294/05819bc0-efde-11e3-9479-cd85f4763629.JPG)

[2014-06-09 14:08] dhenry-KCI opened #16 "Stream Site Selection (TMDL Widget)- Decode Domain"
Decode the COST field/domain on Stream Site Selection.

[2014-06-09 14:12] dhenry-KCI opened #17 "Stream Site Selection (TMDL Widget)- General Comments Field -6.13"
Under Stream Site Selection the GENERAL COMMENTS field is displayed twice in the Attribute Manager

[2014-06-09 14:24] ecomwu commented on #16
In requirement document section 6.13, the  field <COST> is marked as editable text input, not a domain. I will ask Ehsan to clarify it.

[2014-06-09 14:37] dhenry-KCI opened #18 "Tree Site Selection (TMDL Widget) General COmments field 6.14"
The GENERAL COMMENTS field is missing in Attribute Manager for Tree Site Selection.

[2014-06-09 14:51] ecomwu commented on #15
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-09 14:52] ecomwu commented on #16
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-09 14:52] ecomwu commented on #17
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-09 14:52] ecomwu commented on #18
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-09 15:07] dhenry-KCI opened #19 "Pavement Removal Site Selection (TMDL Widget)- Update Fields from Feature Manager-6.15"
Use the attached screen shot to update the Pavement Removal Site S
![pavement removal site selection](https://cloud.githubusercontent.com/assets/4129185/3218184/c690b14e-efe7-11e3-8956-8d59e2f37261.JPG)
election Attribute Manager Fields.

[2014-06-09 15:38] dhenry-KCI opened #20 "Outfall Stabilization Site Selection (TMDL Widget)- Filter returns no Resutls"
When the user Selects BY = Site Selection and Outfall Stabilizations, apply a filter (County = Anne Arundel) and then validate or choose the "select" button no results are returned even though there is data populated in the database.

[2014-06-09 16:46] dhenry-KCI opened #21 "IO Error (TMDL Widget) Feature Manager"
If the user filters based on strategy or site selection then adds a geography filter and clicks "select" to review the results, the following error message will appear when the user selects certain records in the feature manager:
IO Error
The Asset Editor has encountered a web service error.
ioError:Error #2032
The error message seems to occur on records that have identical SS_IDs (EFF_BMP SIte Se

[2014-06-09 17:13] rmeitl opened #22 "Efficiency BMP Site Selection (TMDL Widget) - add fields to attribute manager"
Fields are missing in attribute manager. The starred fields are missing:

_Site Selection ID_   (SS_ID)
_Type_  (needs to display type of site selection)
Site Status
Source
Site Type
_Prime Consultant_   (CONSULTANT_ID)
Description
etc. (The rest are ok)

[2014-06-09 17:17] dhenry-KCI opened #23 "Efficiency Planned BMP SIte Selection (TMDL Widget) - Update Fields -6.19.2"
Update the following fields within the Efficiency Planned BMP tab in the Attribute Manager:
Rename the following fields:
Engineer Parameter should be renamed "Engineering Parameter (Acres)"
Enviro. Site Design Volume Depth should be renamed "Enviro. Site Design Volume"
Run-off Volume Depth should be renamed "Runoff Volume"
Impervious Area Treated should be renamed Area Treated. IT should be pullin

[2014-06-09 17:17] ehsan67 commented on #20
fixed

[2014-06-09 17:17] #20 closed, assigned to ehsan67

[2014-06-09 17:55] ecomwu commented on #22
Prime Consultant is not listed in requirement document section 6.19. Do we need it?
And for other fields, they are all displayed

[2014-06-09 18:15] ecomwu commented on #19
I've changed fields and committed my change to repository as well. Please test it later.

[2014-06-09 18:16] ecomwu commented on #23
I've renamed those fields, moved SHA BMP Type to the top of EFF_Planned BMP tab , and committed my change to repository as well. Please test it later.

[2014-06-09 19:08] dhenry-KCI opened #24 "Efficiency Planned BMP_DA (TMDL Widget)- Attribute Manager tabs"
When the user selects an Eff_Bmp SIte Selection record in the feature Manager the record appears in the Attribute Manager below with the following tabs:
Efficiency BMP- Planned BMP- Planned BMP DA
The widget correctly associated the Planned BMP to the Efficiency BMP, but if multiple Planned BMPs are available the  widget does not correctly relate the Planned BMP DA to the correct PLanned BMP.

TO

[2014-06-09 19:14] rmeitl opened #25 "Efficiency BMP Retrofit Site Selection (TMDL Widget) - field in attribute manager"
Update alias 'SHA BMP Number' to 'SHA SWMFAC Number' and data should be pulling from SWMFAC.SWM_FAC_NO (6 digit id. Similar in format to: 060021), not NPDES_FACILITY_ID (which is a guid).

[2014-06-09 19:38] dhenry-KCI opened #26 "Documents tab- (TMDL Widget)- Add New Drawing Button"
Under the Documents tab update the Add New drawing Button to read Add New Document

[2014-06-09 19:39] rmeitl opened #27 "Landuse Change BMP - Trees, Wetlands, Pavement Removal (TMDL Widget) - Acceptance Letter Field"
6.26

Acceptance Letter field was updated and now has a domain assigned to it. This field should have a drop down using D_Accept_letter instead of being text input.

[2014-06-09 19:43] ecomwu commented on #25
Ehsan, I've checked the service, SWM_FAC_NO is not included in the data return. You can check it by following link:
http://vm-city102/TMDL/api/SiteSelections/GetEffRetrofitGeneralInfo?version=eGISW&ssid=1600005

[2014-06-09 19:44] ecomwu commented on #24
I've fixed this issue and committed my change to repository as well. Please test it later.

[2014-06-09 19:46] ecomwu commented on #26
fixed.  And I committed my change to repository as well. Please test it later.

[2014-06-09 20:00] rmeitl opened #28 "Stream Restoration (TMDL Widget) - Stream Use"
6.27

Stream Use in the attribute manager should reference field: STREAM_RESTORATION.STREAM_USE. The field in the database is null, so nothing should be returned in the attribute manager for that field. Currently the service is showing the guid for Stream Site Selection ID.

[2014-06-09 20:04] dhenry-KCI opened #29 "Stream Restoration- (TMDL Widget)- Site Name in Feature Manager-"
The Site name is not being displayed in the Feature Manager for Stream Restoration.

To Recreate:
Select by =Strategies then Stream Restoration
County = Montgomery

USer should see a site name = PB-37

[2014-06-09 20:05] ecomwu commented on #27
I've fixed this issue and committed the chagne. Please test it later.

[2014-06-09 20:09] ecomwu commented on #28
I've fixed it and committed the change. Please test it later.

[2014-06-09 20:15] ecomwu commented on #29
It relates to selection service. SITE_NAME are all null in feature manager. Tara/Ehsan, could you take a look at this issue?

[2014-06-09 20:17] rmeitl commented on #29
This SITE_NAME is also an issue in Step Pool Storm Conveyance.

[2014-06-09 20:18] rmeitl commented on #28
Can you also apply this fix to Step Pool Stormwater Conveyance asset as well, please. Thanks!

[2014-06-09 20:20] ecomwu commented on #28
once the selection service is changed, it will apply to all types of strategy selection. Then this issue will be gone.

[2014-06-17 15:49] rmeitl opened #30 "Site Selection Documents tab (TMDL Widget) - attribute manager"
6.21
Site selection features do not display any records in the documents attribute manager, even though the sites have one or more documents.

Site selection documents should mimic the document results for TMDL Strategies:

![egis1](https://cloud.githubusercontent.com/assets/7804977/3302644/6854b0ee-f636-11e3-9c06-989dd6ced853.png)

[2014-06-17 15:59] dhenry-KCI opened #31 "TMDL Select by Form (TMDL Widget) - All Strategies"
When the user selects by : TMDL Strategies , All Straegies

Then selects District 2 (error also occurs when the user Selects District 7) the follwing error appears:
![io_error_new](https://cloud.githubusercontent.com/assets/4129185/3302822/580eb9f8-f638-11e3-9287-1cb9001a8d75.JPG)

[2014-06-17 16:03] rmeitl opened #32 "TMDL Strategies (TMDL Widget) - 6.12.1 Decode 'Status' field in the Selection Manager"
6.12.1
Use D_Status in the all_domains table to decode the Status field in the selection manager for all TMDL Strategies.

[2014-06-17 16:35] rmeitl opened #33 "PlantingTrees Strategy (TMDL Widget) - 6.26 - General tab in attribute manager error"
6.26
Occasionally a record will give the following error and not show results in the general attribute manager.

I isolated the problem and it seems to only happen when a Tree strategy has one or more documents associated with it.

![egis2](https://cloud.githubusercontent.com/assets/7804977/3303257/5a38f068-f63d-11e3-9853-fcbf3f8c43a0.png)

[2014-06-17 16:39] ecomwu commented on #30
Ehsan, could you provide me a specific selection which has document information data return then I can test it on my end?

[2014-06-17 16:47] ehsan67 commented on #31
fixed

[2014-06-17 16:47] #31 closed, assigned to ehsan67

[2014-06-17 16:57] ecomwu commented on #32
I've changed the code and committed to repository. Please test it later.

[2014-06-17 17:12] ehsan67 commented on #33
fixed

[2014-06-17 17:12] #33 closed, assigned to ehsan67

[2014-06-17 17:16] dhenry-KCI opened #34 "Street Sweeping Activity- (TMDL- WIDGET)-6.30.6"
No results are returned when the user select a Street Sweeping Plan and attempts to view the Street Sweeping activity, by clicking the Actual Sweep tab on the left side the screen (test data was added to check this functionality)

TO recreate- Select by TMDL Strategies, Mechanical Street Sweeping , Filter by District 3.

[2014-06-17 17:33] dhenry-KCI opened #35 "Outfall Stabilization- (TMDL- Widget)- Major Outfall and Feature Type Fields- 6.31.1"
In the Attribute Manager, Outfall stabilization features, the FEATURE TYPE field(remove the "s" from Feature Types in attribute manager) should pull records from domain D_STRUCT_Type. Within the Major Outfall field, values should be pulled from domain D_BooleanValues.- BOTH OF THESE VALUES SHOULD BE DECODED.

The relationship between Outfall Stabilization and Structures is outlined in requiremnt 6

[2014-06-17 17:54] rmeitl opened #36 "EFF_BMP general information (TMDL Widget) - 6.32 Fields and Attributes"
6.32
--For field 'TMDL BMP Type' - the Field description is missing in the general attribute manager. Also decode its domain D_BMP_Activity

--Update field description 'SHA BMP Number' to 'SHA SWMFAC Number' for consistency with our site selection swmfac numbers.

--Four Mile Vicinity Airport - decode domain: D_BooleanValues

[2014-06-17 18:03] rmeitl opened #37 "TMDL Activity for Strategy Assets (TMDL Widget) - 6.33D - fields/attributes"
6.33D
--'Business Plan Year' year in the activity attribute manager is missing data. Should use field BPIS_YR

--'Offices' field in the activity attribute manager is missing data. Should use field OFFICE and decode domains D_Office.

--For Credit - decode value from all_domains D_Boolean_Value

[2014-06-17 18:37] rmeitl opened #38 "TMDL Strategies Inspections (TMDL Widget) - 6.36-6.36.4"
Currently all inspection tabs have 'Stream Condition' as the first field which is incorrect for other BMP Types.

Update the field name to 'Inspection Status'

[2014-06-17 18:45] ecomwu commented on #34
I've changed the code and committed to repository already.
Please test it later.

[2014-06-17 18:46] ecomwu commented on #30
I've changed the code and committed already. Please test it later.

[2014-06-17 19:08] rmeitl opened #39 "Tree Strategies - Inspections (TMDL Widget) - 6.36.1 - fields/attributes"
6.36.1
--First field is Stream Condition - should be 'Inspection Status' and pull data from field: ASSESS_CONDITION using D_BMP_Condition domain

--Missing the following fields:
Number of Shrubs <NUM_SHRUB>
Trees < 2 inches at Breast Height <TREES_LESSTHAN_2iN_ATBH>
Trees > 2 inches at Breast Height <TREES_GREATERTHAN_2IN_ATBH>
Total Tree Count <TOTAL_TREE_COUNT>
<PER_GREATERTHAN_2IN_ATBH>
Accurat

[2014-06-17 19:40] rmeitl opened #40 "EFF_BMP Strategy Inspections (TMDL Widget) - 6.36.4"
'Stream Condition' field should be labeled 'Inspection Status' and pull data from ASSESS_CONDITION with domain D_BMP_Condition

[2014-06-17 19:53] rmeitl opened #41 "Asbuilt attribute manager (TMDL Widget) - 6.58.6 fields/attributes"
--Submittal Date should pull data from SUBMITTAL_DATE

--Review Date should pull data from REVIEW_DATE

--Reviewer should pull data from REVIEWER field

--And Consultant should pull data from REVIEWER_CONSULTANT_ID - while using CONSULTANT as a look up table

[2014-06-17 20:50] ecomwu commented on #36
I've changed the program and committed the code. Please test it later.

[2014-06-17 21:08] ecomwu commented on #37
I've changed program and committed changes. Please test it later.

[2014-06-18 13:09] dhenry-KCI opened #42 "Selection Filters (TMDL-Widget)- Accordion Header Dynamic Text- 6.11.4"
Requirement 6.11.4 states that the system will display dynamic text within the accordion headers that indicate if a filter has been applied.

I enter my select by and filter values and then click "Select" there is no indication that a filter has been applied.

[2014-06-18 13:14] dhenry-KCI opened #43 "Results Tab (TMDL- Widget)- Site Selection Features"
When the user is filtering by Site Selection features, The Asset Report and Create Assets  under the feature manager on the results tab should be updated to read the following:
Site Report (formerly Asset Report)
Create Site (formerly Create Assets)

[2014-06-18 13:15] TaraF commented on #42
I believe this requirement was dropped -- please see meeting notes.  I will also re-forward my email regarding the updates made to the UI based on the meeting notes, which may not be reflected in the current requirements yet.

[2014-06-18 13:47] ecomwu commented on #38
I fixed this issue. Please test it later

[2014-06-18 14:14] dhenry-KCI opened #44 "Stream Restoration (TMDL-WIDGET) - Attribute Manager- 6.72.2"
In Stream Restoration under the General Tab, Stream Limits tab can we add a field called , "Current Condition". This field will be populated where STREAM_RESTORATION.Stream_Rest_ID =STREAM_INSPECTION.Stream_Rest_id (grab the most current inspection date) then where STREAM_INSPECTION.Stream_Insp_ID = STREAM_INSPECTION_DETAILS.Stream_Insp_ID then where STREAM_INSPECTION_DETAILS.Restoration_Limits_ID

[2014-06-18 14:21] ecomwu commented on #39
I've fixed this issue. Please test it later

[2014-06-18 14:38] ecomwu commented on #40
I've fixed it and committed changes. Please test it later.

[2014-06-18 14:50] ecomwu commented on #41
I do have questions about this issue.
- For the first 2 items, currently, Submittal Date, Review Date, and Reviewer are all pull data from correct fields. If there is any data display issue, could you provide the specific selection to recreate the issue?
- For the last 2 items, there is only REVIEWER_CONSULTANT_ID listed in data return and no REVIEWER field.

[2014-06-18 14:53] dhenry-KCI opened #45 "Stream Restoration Inspection (TMDL-Widget)- Stream Inspection Details- 6.36"
The stream Inspection details tab under Inspections the Attribute Manager is missing the following fields:
Restoration Type (STREAM_INSPECTION_DETAILS.Restoration_Limits_ID= STREAM_RESTORATION_LIMITS.Restoration_Limits_ID, then where STREAM_RESTORATION_LIMITS.Restoration_LImits_ID =STREAM_RESTORATION_TYPES.REstoration_limits_ID- THIS WILL BE A 1:M relationship. Grab all associated Restoration Type

[2014-06-18 14:54] dhenry-KCI opened #46 "Horizontal Inspection tab under Vertical Inspection tab (TMDL-Widget)"
The horizontal Inspection tab under the Vertical Inspection tab is spelled incorrectly.

[2014-06-18 14:55] ecomwu commented on #46
fixed.

[2014-06-18 15:37] dhenry-KCI opened #47 "EFF BMP (TMDL-Widget) Missing Fields - 6.32"
Please create services and/or add the following fields:
Actual Drainage Area (Acres) < ACTUAL_DA_ACRES
Actual Impervious Treated <ACTUAL_IMPV_TREATED>
Targeted Rainfall <PE_RAINFALL_TREATED>

[2014-06-18 15:42] dhenry-KCI opened #48 "Contracts - (TMDL-Widget)- Contract Fields -6.34"
Please add the following services and fields to the vertical Contracts tab.
PE Start Date <PE_START_DATE>
PE End Date <PE_END_DATE>

[2014-06-18 15:49] dhenry-KCI opened #49 "EFF BMP (TMDL-Widget) Modify Fields- 6.32"
Please make the following changes to EFF_BMP fields:
TMDL BMP TYPE is displaying the correct field, but the field name is not displayed. See attached image. Also decode the Value field (D_BMP_ACTIVITY)

Update Runoff Volume field to display Runoff Depth
![missing field](https://cloud.githubusercontent.com/assets/4129185/3316182/1609fe64-f700-11e3-8b06-11549f041c3b.JPG)

[2014-06-18 15:52] dhenry-KCI opened #50 "Reduction Tab (TMDL-Widget)- Missing Fields - 6.33B"
Please add the following services and fields to vertical Reduction tab:
Nutrient Concentrations <NUTRIENT_CON>
Bulk Density of Soil <BULK_DENSITY_SOIL>
Soil Erosion <SOIL_EROSION>
Calculation Method <CALC_METHOD> Decode domain D_CALC_Method

[2014-06-18 16:04] ehsan67 commented on #48
service returns those fields . @ecomwu

[2014-06-18 16:12] dhenry-KCI opened #51 "Results Tab (TMDL-Widget) Plats - 6.43.2"
A Plats tab needs to be created under the vertical "Other" tab for all Strategies.(see screen shot)
![plats tab](https://cloud.githubusercontent.com/assets/4129185/3316485/229d9250-f703-11e3-807a-f732db31aab3.JPG)

The Other Tab should be visible for All Strategies (see highlighted area in screen shot)
![other tab](https://cloud.githubusercontent.com/assets/4129185/3316502/57014500-f703-11e3-8dc1-

[2014-06-18 16:19] ehsan67 commented on #47
service returns those fields @ecomwu

[2014-06-18 21:05] ecomwu commented on #47
I can't find Targeted Rainfall @ehsan67

[2014-06-18 21:13] ecomwu commented on #48
I've added those fields under Contract fields and committed the changes. Please test it later.

[2014-06-18 21:17] ecomwu commented on #49
I've fixed it and committed the changes already. Please test it later.

[2014-06-18 21:26] ecomwu commented on #50
Ehsan, could you help me add domain service for D_CALC_Method? @ehsan67

[2014-06-19 11:36] ehsan67 commented on #47
we have PE_RAINFALL_TREATED . @dhenry-KCI  is it  the field?

[2014-06-19 12:22] ehsan67 commented on #50
@ecomwu  http://vm-city102/TMDL/Help/Api/GET-api-Domains-GetCalcMethods

[2014-06-19 13:11] dhenry-KCI opened #52 "Zoom to Selected Feature - (TMDL-Widget) 6.12.3"
When the user zooms to a selected feature (this occurs on all trees plantings, outfall stabilizations and pavement removal for both assets and site selection) no feature is visible. - Is there scale dependency set?

[2014-06-19 13:20] dhenry-KCI opened #53 "Zoom to Selected Feature - (TMDL-Widget) Zoom Scale 6.12.3"
For all features except stream assets and stream site selection, the zoom scale set for each feature is to close. When the user zooms to a feature the user should be able to see a larger overview of the area. See attached example.
![zoomscale](https://cloud.githubusercontent.com/assets/4129185/3327797/6be46fe0-f7b4-11e3-9b98-2c992bb975db.JPG)

[2014-06-19 13:55] dhenry-KCI opened #54 "Add Contracts (TMDL - Widget) - Refresh - 6.59"
A new contract that is added is not immediately visible unless the user clicks on the Consultant tab and then clicks back to the Contracts tab. The same thing occurs when the user deletes a contract.

[2014-06-19 14:06] dhenry-KCI opened #55 "Add Contracts (TMDL - Widget) - IO Error - 6.59"
When the user attempts to delete a contract the following error appears
![io_error_new](https://cloud.githubusercontent.com/assets/4129185/3328278/d540c1c2-f7ba-11e3-8125-d3d452d7c1eb.JPG)

[2014-06-19 14:10] dhenry-KCI opened #56 "Edit Contracts (TMDL - Widget) - Cancel Button - 6.61"
When the user edits text in the Contract grid and hits Cancel before hitting Save the edits are not removed.

[2014-06-19 14:15] dhenry-KCI opened #57 "Admin Contracts - (TMDL-Widget)- Contract Fields -6.59.1"
The Contract type field in the grid should be a dropdown not text input.
 We are also missing the following VIEW ONLY fields in the Contract grid:
Ad Date <AD_DATE>
Bid Date <BID_DATE>
NTP Date <NTP_DATE>

[2014-06-19 14:18] dhenry-KCI opened #58 "Add Contracts (TMDL - Widget) - Save Edits - 6.61"
When the user updates the contract grid and the clicks Save edits, a pop-up appears asking the user if they would like to save their edits. The user selects "yes" and the edits appear to Save. WHen the user selects a different contract and then goes back to the one they edited no edits are saved.

[2014-06-19 14:45] ecomwu commented on #50
I've added those fields and committed the changes. Please test it later

[2014-06-19 16:03] dhenry-KCI opened #59 "Admin Contracts- (TMDL-Widget) - View Associated Assets- 6.65"
For all contracts selected, the widget is only returning a single asset. The widget should see all assets for a particular contract.

To recreate- select contract Number : AT0875182-
the user should be able to filter through 12 Assets

[2014-06-19 16:04] dhenry-KCI opened #60 "Admin Contracts- (TMDL-Widget)- Sort Associated Assets- 6.66"
The user should be able to sort assets by the column headers in the Asset grid for all contracts.

[2014-06-19 16:08] dhenry-KCI opened #61 "Admin Contracts (TMDL-Widget)- Asset Grid- 6.66"
It appears that the values being pulled in to the Asset grid for each contract are in correct. For example , the TMDL_ID value being displayed = WIP, the Type = Proposed, and the Status Field = <Null>. See attached screen shot.
![admin -contract grid_1](https://cloud.githubusercontent.com/assets/4129185/3329970/fcb5c3c2-f7cb-11e3-87de-af138fbdee36.JPG)

[2014-06-19 16:12] dhenry-KCI opened #62 "Admin Consultant - (TMDL-Widget) Consultant Grid- 6.68"
Remove the field, Consultant ID from the Consultant Grid within the Consultant Tab under Admin.

[2014-06-19 16:19] dhenry-KCI opened #63 "Admin Contracts (TMDL-Widget) Create New Contract- 6.59"
The system should include text within the Create New Contract window that alerts the user that fields with an \* are required.

[2014-06-19 16:36] dhenry-KCI opened #64 "Admin Contracts (TMDL-Widget) Associate Consultant- 6.59"
If the user adds a consultant to a contract it correctly appears in the associated Cosultant firm grid under the Contracts tab. How does the user delete a consultant from a contract if it was mistakenly associated to a contract?

[2014-06-19 16:45] dhenry-KCI opened #65 "Admin Contracts/Consultants (TMDL-Widget)- Sorting ascending descending -6.72"
No sorting function is available on any grids under Contracts or Consultants.

[2014-06-19 17:02] dhenry-KCI opened #66 "LUC Practice/ Other Tab- (TMDL-Widget)"
The fields for LUC Practice under the "Other Tab" should be moved to the General Tab for the following features:
Trees
Pavement Removal
Wetlands

The Other Tab should be removed.

[2014-06-19 17:17] ehsan67 commented on #44
It is ready , @ecomwu  Maggie, please add it to the UI

[2014-06-19 17:42] ecomwu commented on #44
I've added it and committed the changes. Please test it later

[2014-06-19 17:42] ehsan67 commented on #55
fixed

[2014-06-19 17:42] #55 closed, assigned to ehsan67

[2014-06-20 20:03] ecomwu commented on #66
I've changed it and committed already. Please test it later.

[2014-06-20 20:04] ecomwu commented on #45
I've fixed it and committed the changes. Please test it later.

[2014-06-23 17:30] ecomwu commented on #51
I've added Plats tab to both Assess and Site selection, committed the changes already. Please test it later.

[2014-06-23 18:56] ecomwu commented on #43
I've fixed it and committed the changes. Please test it later.

[2014-06-25 16:59] #42 closed, assigned to dhenry-KCI

[2014-06-25 17:01] dhenry-KCI commented on #21
Ehsan,
We have discuss this issue in several different workflows. Just be aware.

[2014-06-25 17:03] dhenry-KCI commented on #8
Brendan,
The domain table dropped these values. This is just a reminder to re-add these values to the domain table

[2014-06-25 17:28] dhenry-KCI commented on #1
Tara,
I don't believe this is an issue anymore, but you probably want to double check.

[2014-06-25 17:49] dhenry-KCI commented on #41
![as_built](https://cloud.githubusercontent.com/assets/4129185/3389141/64732e18-fc91-11e3-9f8d-f9cf00486202.JPG)
Maggie,
1. The submittal date and the review date are not displaying in the widget. I have included a screen shot showing the issue. I used record Tree planting record 160087UT to recreate the issue.
2. The reviewer field is included in the database and is a field in the widget. I will

[2014-06-25 18:00] dhenry-KCI commented on #22
Maggie,
Yes please add Prime Consultant <EFF_BMP_SITE_SELECTION.Consultant_ID>

[2014-06-25 18:21] dhenry-KCI commented on #35
Maggie,
Its looks like the MAJ_OUTF field has a domain code of 1 (true) or 2 (false). To decode this domain use D_BooleanValues and not D_Boolean_Value- The current value being displayed in the MAJ_OUTF field is "OF"

[2014-06-25 18:31] ecomwu commented on #35
I thought we need to add new domain service to decode it. currently, we only have D_Boolean_value @ehsan67

[2014-06-25 18:33] dhenry-KCI commented on #35
Maggie,
On our end we do have a second domain of d_BooleanValue. I will talk to Ehsan.

From: ecomwu [mailto:notifications@github.com]
Sent: Wednesday, June 25, 2014 2:31 PM
To: dhenry-KCI/TMDL-_Tracking-Widget
Cc: Dustin Henry
Subject: Re: [TMDL-_Tracking-Widget] Outfall Stabilization- (TMDL- Widget)- Major Outfall and Feature Type Fields- 6.31.1 (#35)

I thought we need to add new domain service

[2014-06-26 14:55] ecomwu commented on #22
I've added Prime Consultant to this selection and committed the changes. Please test it later.

[2014-06-26 17:26] ecomwu commented on #35
I've completed the changes and committed already. Please test it later

[2014-06-26 18:06] ecomwu commented on #53
I've changed the code and committed changes. Please test it later. @dhenry-KCI

[2014-06-27 13:25] ehsan67 commented on #25
it is included in the result @ecomwu

[2014-06-27 13:40] ehsan67 commented on #21
it is because of duplicate SSID

[2014-06-30 13:11] TaraF commented on #3
Shop is based on County selection; I have reset the Shop to show no values until a County is selected.  If District is selected again-- County will reset --Shop will show nothing until user selects a County.

[2014-06-30 14:49] TaraF commented on #57
Updated. Please test once new version is out.

[2014-06-30 15:34] TaraF commented on #59
These items are scrollable in window.  I made the window larger, as it looked like it was being cut off.  Please test once new version is out.

[2014-06-30 18:52] TaraF commented on #58
Updated. Please review when new version is ready.

[2014-06-30 19:41] TaraF commented on #56
This has been fixed.  Please review after new update is available.

[2014-06-30 19:43] TaraF commented on #60
Dustin -- do you mean in the Related TMDL features grid?

[2014-06-30 19:43] TaraF commented on #61
This has been fixed.  Please review with next updated release.

[2014-06-30 19:45] TaraF commented on #64
Agreed, this is an issue, and wasn't established in the documentation.  Do you have a recommendation on a fix? Or can we sit down and discuss to come up with a resolution?

[2014-07-01 12:06] TaraF commented on #60
This is updated. Please review with next updated release.

[2014-07-01 12:11] TaraF commented on #65
6.72 -- this is fixed. Please review with next updated release.

[2014-07-02 12:04] TaraF commented on #62
This is fixed. Please review in next release.

[2014-07-02 12:09] TaraF commented on #4
Per our discussion, the reset button now only clears and resets the filters grid, and does not effect the select by type and name.  Please review after next release.

[2014-07-02 16:30] TaraF commented on #9
This is updated. Please review with next release.

[2014-07-02 16:33] TaraF commented on #63
There is now text, "*required fields" at the bottom, but also it is validated by requiring the user to enter a contract # and contract type before finishing the request.  Please review with next update.

[2014-07-02 17:19] TaraF commented on #54
Refresh is now working properly on add, delete and edit of contracts.

[2014-07-02 17:47] TaraF commented on #64
This enhancement is added. Please review with next release.

[2014-07-02 19:10] TaraF commented on #14
This enhancement is in place. Please review with next release.

[2014-07-03 12:22] dhenry-KCI commented on #14
This enhancement is in place when the user clicks "Validate" but it does not work when the user clicks "Select". Please alert the user when they click "Select" if no records are available.

[2014-07-03 12:25] dhenry-KCI commented on #14
This has been fixed.

[2014-07-03 12:25] #14 closed, assigned to dhenry-KCI

[2014-07-03 12:26] dhenry-KCI commented on #54
Looks good, fixed.

[2014-07-03 12:26] #54 closed, assigned to dhenry-KCI

[2014-07-03 12:54] dhenry-KCI commented on #9
Fixed

[2014-07-03 12:54] #9 closed, assigned to rmeitl

[2014-07-03 12:59] dhenry-KCI commented on #64
Fixed!

[2014-07-03 12:59] #64 closed, assigned to dhenry-KCI

[2014-07-03 13:06] dhenry-KCI commented on #63
Can we lower the "*required field" text so that it is located in the lower left corner in the Create New Contract box (see red box in attached image)
![req_fields](https://cloud.githubusercontent.com/assets/4129185/3469728/c5408cb4-02b2-11e4-8579-f58f1c7df77a.JPG)

[2014-07-03 13:09] dhenry-KCI commented on #4
Fixed

[2014-07-03 13:09] #4 closed, assigned to dhenry-KCI

[2014-07-03 13:09] dhenry-KCI commented on #62
Fixed

[2014-07-03 13:09] #62 closed, assigned to dhenry-KCI

[2014-07-03 13:10] dhenry-KCI commented on #65
Fxed

[2014-07-03 13:10] #65 closed, assigned to dhenry-KCI

[2014-07-03 13:12] #60 closed, assigned to dhenry-KCI

[2014-07-03 13:54] dhenry-KCI commented on #56
Fixed

[2014-07-03 13:54] #56 closed, assigned to dhenry-KCI

[2014-07-03 13:54] dhenry-KCI commented on #61
Fixed

[2014-07-03 13:54] #61 closed, assigned to dhenry-KCI

[2014-07-03 13:55] dhenry-KCI commented on #58
Fixed

[2014-07-03 13:55] #58 closed, assigned to dhenry-KCI

[2014-07-03 13:56] dhenry-KCI commented on #59
Fixed

[2014-07-03 13:56] #59 closed, assigned to dhenry-KCI

[2014-07-03 13:56] dhenry-KCI commented on #57
Fixed

[2014-07-03 13:56] #57 closed, assigned to dhenry-KCI

[2014-07-03 13:58] dhenry-KCI commented on #46
Fixed

[2014-07-03 13:58] #46 closed, assigned to dhenry-KCI

[2014-07-03 14:00] dhenry-KCI commented on #3
Fixed

[2014-07-03 14:00] #3 closed, assigned to dhenry-KCI

[2014-07-03 14:19] dhenry-KCI commented on #35
Fixed

[2014-07-03 14:19] #35 closed, assigned to ecomwu

[2014-07-03 14:21] #22 closed, assigned to ecomwu

[2014-07-03 14:28] dhenry-KCI commented on #41
Fixed

[2014-07-03 14:28] #41 closed, assigned to ecomwu

[2014-07-03 14:45] dhenry-KCI commented on #43
Fixed

[2014-07-03 14:45] #43 closed, assigned to ecomwu

[2014-07-03 14:46] dhenry-KCI commented on #51
Fixed

[2014-07-03 15:24] dhenry-KCI commented on #45
Maggie, the above fixes are correct, but we need to make a few changes under the Insp. Details tab-
1. The Station_from field is pulling in the incorrect value. Currently it is displaying the REST_LENGTH value in STEAM_RESTORATION_LIMITS table
2. The Station_TO field is pulling in the incorrect value. Currently it is displaying the STATION_FROM value
3. The General Comments field in the widget, is

[2014-07-03 15:34] dhenry-KCI commented on #66
Fixed

[2014-07-03 15:34] #66 closed, assigned to ecomwu

[2014-07-03 15:35] dhenry-KCI commented on #44
Looks great. Fixed

[2014-07-03 15:35] #44 closed, assigned to ecomwu

[2014-07-03 15:35] dhenry-KCI commented on #50
Fixed

[2014-07-03 15:35] #50 closed, assigned to nobody

[2014-07-03 15:39] dhenry-KCI commented on #47
Yes PE_RAINFALL_TREATED is the correct field.

[2014-07-03 15:48] dhenry-KCI commented on #5
When the user selects a 6 digit watershed the 8 and 12 filter correctly.

But when the user selects an 8 or a 12 digit watershed the widget does not pre-populate the 6 or the 8.

[2014-07-03 15:50] dhenry-KCI commented on #17
Fixed.

[2014-07-03 15:50] #17 closed, assigned to ecomwu

[2014-07-03 15:50] dhenry-KCI commented on #16
Fixed

[2014-07-03 15:50] #16 closed, assigned to ecomwu

[2014-07-03 16:07] dhenry-KCI commented on #19
Fixed

[2014-07-03 16:07] #19 closed, assigned to ecomwu

[2014-07-03 16:07] dhenry-KCI commented on #15
Fixed

[2014-07-03 16:07] #15 closed, assigned to ecomwu

[2014-07-03 16:27] dhenry-KCI commented on #18
Fixed

[2014-07-03 16:27] #18 closed, assigned to ecomwu

[2014-07-03 16:32] dhenry-KCI commented on #12
Fixed

[2014-07-03 16:32] #12 closed, assigned to nobody

[2014-07-03 16:37] dhenry-KCI commented on #11
Fixed

[2014-07-03 16:37] #11 closed, assigned to ecomwu

[2014-07-03 16:39] dhenry-KCI commented on #23
Fixed

[2014-07-03 16:39] #23 closed, assigned to ecomwu

[2014-07-03 16:45] dhenry-KCI commented on #27
The acceptance letter field for Trees, Wetlands, and Pavement Removal is not being displayed as a dropdown using D_Accept_letter

[2014-07-03 16:46] #26 closed, assigned to ecomwu

[2014-07-03 16:48] dhenry-KCI commented on #29
Site Name appears correctly in the Feature Manager.

[2014-07-03 16:48] #29 closed, assigned to ecomwu

[2014-07-03 16:50] dhenry-KCI commented on #28
Fixed

[2014-07-03 16:50] #28 closed, assigned to ecomwu

[2014-07-03 17:18] dhenry-KCI commented on #34
Fixed

[2014-07-03 17:18] #34 closed, assigned to ecomwu

[2014-07-03 17:19] dhenry-KCI commented on #32
Fixed

[2014-07-03 17:19] #32 closed, assigned to ecomwu

[2014-07-03 17:20] dhenry-KCI commented on #37
Fixed

[2014-07-03 17:20] #37 closed, assigned to ecomwu

[2014-07-03 17:21] dhenry-KCI commented on #48
Fixed

[2014-07-03 17:21] #48 closed, assigned to ecomwu

[2014-07-03 17:31] dhenry-KCI commented on #38
Fixed

[2014-07-03 17:31] #38 closed, assigned to ecomwu

[2014-07-03 17:33] dhenry-KCI commented on #49
Fixed

[2014-07-03 17:33] #49 closed, assigned to ecomwu

[2014-07-03 17:52] ecomwu commented on #27
I've changed Acceptance Letter field to dropdown using D_Accept_Letter. Please test it again. thanks!

[2014-07-03 18:17] dhenry-KCI commented on #36
Fixed

[2014-07-03 18:17] #36 closed, assigned to ecomwu

[2014-07-03 18:21] dhenry-KCI commented on #39
Fixed

[2014-07-03 18:21] #39 closed, assigned to ecomwu

[2014-07-03 18:25] dhenry-KCI commented on #24
Fixed

[2014-07-03 18:25] #24 closed, assigned to ecomwu

[2014-07-03 18:38] dhenry-KCI commented on #40
Fixed

[2014-07-03 18:38] #40 closed, assigned to nobody

[2014-07-03 18:39] dhenry-KCI commented on #25
Fixed

[2014-07-03 18:39] #25 closed, assigned to ecomwu

[2014-07-03 18:40] dhenry-KCI commented on #21
Known issue. we can re-evaluate with new data.

[2014-07-03 18:40] #21 closed, assigned to dhenry-KCI

[2014-07-03 20:02] ecomwu commented on #47
I've added those three fields to EFF BMP type selection. Please test it later. Thanks!

[2014-07-03 20:44] ecomwu commented on #45
I've changed those three fields with correct value. Please test it later. Thanks.

[2014-07-07 17:28] dhenry-KCI opened #67 "TMDL Form Selection (TMDL-WIDGET)- Selection has found no results."
When the user filters and valid results are returned the widget will alert the user that the selection has returned no results.

To recreate:
Select by Site Selection- Tree Site Selection
District 4
Baltimore

![no results](https://cloud.githubusercontent.com/assets/4129185/3499080/0edfca1e-05fc-11e4-9ff1-af4c767d4c98.JPG)

[2014-07-07 17:57] ecomwu commented on #67
Tara, could you take a look at this issue? I thought both strategy and site selection have similar issue relates to TMDLSelectionServices. @TaraF

[2014-07-08 02:05] dhenry-KCI opened #68 "Feature Manager- (TMDL-Widget)- 6.12.2- Sorting asecnding /descending"
When the user is filtering by site selection only, Sorting (ascending or descending) within the feature manager does not work.
*Sorting works when the user filters by strategies.

[2014-07-08 17:37] dhenry-KCI opened #69 "Stream Restoration (TMDL-WIDGET)- 6.27- General Information Fields"
Please change the "Name" field under the General tab for Stream Restoration to Stream Name. Please get the value for this field from STREAM_RESTORATION.Stream_Name

[2014-07-08 19:24] ecomwu commented on #69
I've changed that field with Stream_Name. Please test it later

[2014-07-08 19:37] dhenry-KCI opened #70 "Sweeping Route Lines (TMDL-Widget)- 6.30.3- Vewi associated Route lines"
When the user selects a related plan segment for a sweeping plan the application should zoom to the selected plan segment.
*each Sweeping segment is related to a single route line.

[2014-07-09 13:14] ehsan67 commented on #70
@TaraF @ecomwu  @dhenry-KCI  I added a service for that:

http://vm-city102/TMDL/Help/Api/GET-api-Strategies-GetSweepingSegmentBoundingBox_sweepingSegmentId_version

[2014-07-09 14:02] rmeitl opened #71 "LR_INLET_CLEANING (TMDL Widget) - 6.28 - Fiscal Year Field"
6.28
Fiscal Year in the attribute manager - This field should pull data from LR_INLET_CLEANING.FISCAL_YEAR. Currently not showing any data.

[2014-07-09 15:01] rmeitl opened #72 "Street Sweeping Plan (TMDL Widget) - 6.30 - Sweeping Plan - General tab fields"
Remove the following fields:
Fiscal Year
Total Miles Swept
Swept By
Date Entered
Actual Sweep
User Name
General Comments (The second one that is not showing data)

(These fields are related to the sweeping activity tab in requirement 6.30.6)

![untitled](https://cloud.githubusercontent.com/assets/7804977/3526176/dd8fd088-0779-11e4-998c-1954547d4e04.jpg)

[2014-07-09 15:17] ecomwu commented on #71
I've fixed this issue. Please test it later.

[2014-07-09 16:05] rmeitl opened #73 "TMDL reduction information (TMDL Widget) - 6.33B Field names"
In the Reduction tab change the following field names:

the second Phosphorus (EOS) to Phosphorus (DEL)
the second Sediment (EOS) to Sediment (DEL)
Impr Equivalent Acres to Impv Equivalent Acres

![untitled2](https://cloud.githubusercontent.com/assets/7804977/3527051/55768c5c-0781-11e4-9f06-41d28eac97b3.jpg)

[2014-07-09 16:16] ecomwu commented on #72
I've fixed this issue. Please test it later.

[2014-07-09 16:20] rmeitl opened #74 "Selection Form (TMDL Widget) 6.11.12 TMDL ID does not display when filtering by Contract"
6.11.12
whenever a filter by contract is applied to any TMDL strategy, the TMDL ID does not return results.

![untitled3](https://cloud.githubusercontent.com/assets/7804977/3527392/959997fe-0784-11e4-8104-b8775b47da65.jpg)

[2014-07-09 16:33] rmeitl opened #75 "Consultants (TMDL Widget) 6.34.3 - View Consultants"
6.34.3
Doesn't allow user to view consultants associated with a contract.

the TMDL_CONTRACT table is related to CONSULTANT_CONTRACT junction table which is related to the CONSULTANT table.

![untitled4](https://cloud.githubusercontent.com/assets/7804977/3527567/5b0224a6-0786-11e4-9e27-79f72928d92e.jpg)

[2014-07-09 17:17] rmeitl commented on #45
Two more things with the comments field that I noticed besides the Station_From field:

--Condition Comments should pull data from field: STREAM_INSPECTION_DETAILS.GEN_COM

--General Comments field should pull data from field: STREAM_RESTORATION_LIMITS.GEN_COM

![untitled5](https://cloud.githubusercontent.com/assets/7804977/3528100/c325efe0-078b-11e4-9f65-ac2c83557e1c.jpg)

[2014-07-09 17:17] ehsan67 commented on #74
fixed

[2014-07-09 17:17] #74 closed, assigned to ehsan67

[2014-07-09 17:20] ehsan67 commented on #75
@rmeitl  can you provide me steps to recreate the problem?

[2014-07-09 17:29] rmeitl commented on #75
-Filtered by swales in Baltimore county
-selected swale 030584
-viewed contracts tab
-changed to contract AX2645182 (which i know has a consultant associated to it)
-Then clicked on the tab that says View Consultants
-Error

But anytime you try to click on the view consultants tab it gives you this error regardless of whether or not a contract has consultants.

[2014-07-09 17:38] ehsan67 commented on #75
@ecomwu  I captured the request from the widget to get consultants and I see a typo in it: ( look at Cnsultants)

http://vm-city102/TMDL/api/Cnsultants/GetByContractNumber?browsernocache=Wed%20Jul%209%2013%3A30%3A27%20GMT%2D0400%202014&version=eGISW&contractNumber=HA2915124&format=xml

[2014-07-09 17:42] rmeitl opened #76 "Tree Inspections (TMDL Widget) 6.36.1 Tree inspection disappears"
6.36.1
When toggling between inspections when a tree has more than one inspection, the fields and data disappears

-Filter by Trees in Baltimore County
-Select facility 030072UT
-Click on Inspections
-Toggle to inspection on 4/25/2013
-Everything disappears

![untitled6](https://cloud.githubusercontent.com/assets/7804977/3528520/3561e81c-0790-11e4-88e4-7f68e164a933.jpg)

![untitled7](https://cloud

[2014-07-09 18:08] rmeitl opened #77 "Tree Inspections (TMDL Widget) 6.36.1 Tree inspection field alias updates"
6.36.1
Maybe we should abbreviate at breast height? Currently the word 'Height' is hidden since the name is so long, so our field ends in 'Breast' when you initially look at inspecitons. :punch:  :-1:  :zap:  :unamused: On another note, I just discovered some emoticons. :smile:

Update Aliases to the following:
'Trees <2inch at Breast Height'      change to  'Trees <2in at BH'

'Trees >2inch at Br

[2014-07-09 18:09] ecomwu commented on #75
This is fixed. But we don't have "View Consultant" interface mockup, there is no where to display the data. Do we need to display the consultant details? If yes, do we have the mockup? @dhenry-KCI

[2014-07-10 13:42] ecomwu commented on #73
I've changed the field names. Please test it later.

[2014-07-10 13:56] ecomwu commented on #45
I've changed those comments fields under inspection details tab:
- Condition Comments: pull date from STREAM_INSPECTION_DETAILS.GEN_COM
- General Comments: pull data from STREAM_INSPECTIONS_DETAILS.RESTORATION_LIMIT.GEN_COM

Please test it later.

[2014-07-10 14:55] ecomwu commented on #70
I've added this feature to selected plan segment. But there is a data issue for some segment which doesn't have polygon information return.

[2014-07-10 16:07] dhenry-KCI opened #78 "Admin Tab (TMDL-Widget)- 6.60 - Editing under the Admin Tab"
The widget allows the user to edit fields in the contract table under the admin tab even though the "Enable editing" tab has not been checked.

The edits don't save (i clicked on the selection tab and then clicked back to admin tab and the edits hadn't been saved), but the widget will keep the edits until the user switches tabs or contracts.

[2014-07-10 16:29] rmeitl commented on #45
One last thing and I think Streams details are done.

The field 'Plan Achieved' is not related to streams and can be removed.

[2014-07-10 16:58] ecomwu commented on #45
Actually, it's my fault to put the wrong display name for that field, it should be "Overall Inspection performance" in inspection details tab. but the data is same as the Inspection tab's field "Functioning".
Do we still need to delete it?

[2014-07-10 17:01] rmeitl commented on #45
If it's the same data that is for the field Functioning, I think we should be ok to delete it. Does this make sense @dhenry-KCI  ? I'll let him make the call though :)

[2014-07-10 17:33] rmeitl commented on #51
Add the following fields to the Plats tab both in Assets and Site Selections:

Plat Reference: (PLAT_REFERENCES.PLAT_REFERENCE) - text, editable
Research Status: (PLAT_REFERENCES.RESEARCH_STATUS) - editable with drop down using D_Research_Status

A feature (asset or site selection) can have many plats.

To join to Assets to find plat reference records, use the following keys:
For LandUse Change As

[2014-07-10 19:12] rmeitl opened #79 "AsBuilt Tracking (TMDL Widget) - 6.58.6 as built tracking fields"
6.58.6
'As Built Status' and 'SHA Action' data doesn't show up for LUCHANGE_BMP features.
(Test Tree plantings: 130113UT or 160087UT)

They work fine for Efficiency BMPS (SWMFACs:  161033, 161031, 161028, 160929)

![untitled9](https://cloud.githubusercontent.com/assets/7804977/3543786/9c011220-0865-11e4-9ac4-b72e6861fd4f.jpg)

[2014-07-10 19:33] ecomwu commented on #51
I've made changes to those two field:
- Change field name "Plat ID" to "Plat Reference"
- Change Research Status from text input to dropdown by using D_Research _Status

[2014-07-10 19:49] ecomwu commented on #76
I've fixed this issue and committed the changes. Please test it later.

[2014-07-10 21:08] ecomwu commented on #77
I've changed those three field alias name. :smile:

[2014-07-10 21:25] ecomwu commented on #79
@ehsan67
Ehsan, could you take a look at this issue? I thought that might be caused by data return issue. For the strategy selection type Tree plantings(130113UT or 160087UT) data return is different with Efficiency BMPS type. I provided the two links you can see the different:
http://vm-city102/TMDL/api/Strategies/GetAsBuilts?version=eGISW&format=xml&browsernocache=Thu%20Jul%2010%2017%3A20%3A27%2

[2014-07-11 13:24] rmeitl opened #80 "Impervious Surface Elimination Error (TMDL Widget) - general bug"
If I filter by Cecil County or District 2, I get results for Impervious Surface Elimination Strategy. If I filter by anything else, I get the error below.

To recreate the error below, select Impervious Surface Elimination and filter by Frederick County or District 7. This same error happens if you select All TMDL Strategies and filter by counties other than Cecil.

![untitled10](https://cloud.git

[2014-07-11 13:49] ehsan67 commented on #80
fixed

[2014-07-11 13:49] #80 closed, assigned to ehsan67

[2014-07-11 14:27] ehsan67 commented on #79
@rmeitl @ecomwu The data is incorrect in the database. Some of the test records in AsBuilt table have description instead of domain key

[2014-07-11 14:29] rmeitl commented on #79
ahh good catch @ehsan67 . thought i had checked that. Thanks - I'll fix the db!

[2014-07-11 14:29] #79 closed, assigned to ecomwu

[2014-07-13 20:19] TaraF commented on #68
This is fixed.

[2014-07-13 20:20] TaraF commented on #70
Dustin - not sure why I have been assigned here.  Passing it back to you--please let me know if there is something you would like me to do.

[2014-07-15 00:47] TaraF commented on #5
Dustin -- there seem to be some problems in the data to support this backwards filtering. For example, selecting by an 8 digit watershed in Baltimore County, district 4, will yield results:

http://vm-city102/TMDL/api/Domains/Get8DigitWatersheds?district=4&county=03&startsWith=&format=xml&shop=

But if you were to do the same against the 6 digit, some seem to be missing (look for 021202 in both pl

[2014-07-15 01:09] TaraF commented on #78
This is fixed. Please review with next release.

[2014-07-15 01:09] TaraF commented on #63
This is fixed, please review with next release.

[2014-07-15 12:40] dhenry-KCI commented on #63
Looks good.

[2014-07-15 12:40] #63 closed, assigned to dhenry-KCI

[2014-07-15 12:41] #78 closed, assigned to dhenry-KCI

[2014-07-15 13:12] #68 closed, assigned to dhenry-KCI

[2014-07-15 15:09] ehsan67 commented on #5
@TaraF  I checked the data , there is no watershed 021202 in D_Watershed_6 domain

[2014-07-15 16:24] dhenry-KCI commented on #45
Yeah we can delete.

[2014-07-15 16:24] #45 closed, assigned to ecomwu

[2014-07-15 16:25] #47 closed, assigned to ecomwu

[2014-07-15 16:27] #71 closed, assigned to ecomwu

[2014-07-15 16:28] #72 closed, assigned to ecomwu

[2014-07-17 19:42] dhenry-KCI opened #81 "Export Functionality (TMDL-Widget) 6.12.12- Check box functionality"
The pop-up that is associated with the export button includes a checkbox to alert the user which features they would like exported when multiple features are selected. If only one feature is selected though the widget doesn't alert the user to check the box or not.

Do one of the following to fix:
1. Remove the checkbox when a single feature type is selected
2. Have the checkbox already checked (a

[2014-07-17 19:43] dhenry-KCI opened #82 "Export Functionality (TMDL-Widget) 6.12.12- Export to Excel"
The export function for excel, exports the codes for the domains not the values.

please decode the domain values.

[2014-07-17 19:56] #13 closed, assigned to nobody

[2014-07-17 20:32] #30 closed, assigned to ecomwu

[2014-07-17 20:32] #8 closed, assigned to BC89

[2014-07-17 20:35] #27 closed, assigned to ecomwu

[2014-07-17 21:01] #73 closed, assigned to ecomwu

[2014-07-28 12:13] TaraF commented on #67
This is fixed. Please test with next release.

[2014-07-28 14:29] TaraF commented on #81
This has been fixed, via #3 above. Please review with next release.

[2014-07-28 14:30] TaraF commented on #52
Per our last meeting, scale dependencies were agreed upon and set in the mxds and services were recreated.  This was not causing the selection / freeze which was determined to be a data issue for certain types.

[2014-07-30 16:47] ecomwu commented on #75
I've completed the change which displaying the consultant(s) information under contract tab and removing the "View Consultant' button already. It's ready for testing with next release.

[2014-08-04 12:17] #81 closed, assigned to dhenry-KCI

[2014-08-04 13:33] #77 closed, assigned to ecomwu

[2014-08-04 13:43] dhenry-KCI commented on #76
Maggie- I am still seeing this issue. to recreate-
Filter by TMDL Strategies > Planting Trees or Forestation on Pervious Urban
County = Baltimore
TDML ID = 030038UT

This record has two inspections. The first inspection appears correctly, the second one does not.

[2014-08-04 14:22] dhenry-KCI commented on #75
Fixed

[2014-08-04 14:22] #75 closed, assigned to ecomwu

[2014-08-04 14:31] ecomwu commented on #76
This is fixed. I haven't considered the asset type while changing the inspection date selection, that caused issue.

I've committed the changes.

[2014-08-04 14:33] dhenry-KCI commented on #70
Maggie- within the widget when the user clicks on a Sweeping Plan, the widget should zoom to the multiple segments that create the plan. Then when the user clicks on a specific plan segment the widget should zoom to the individual segment. Currently the widget is zooming to the individual segment first, and then when the user clicks on a a segment the feature disappears from the map and nothing is

[2014-08-04 14:54] dhenry-KCI commented on #69
Maggie- The "Name" field is pulling in the correct value, but please rename the field to "Stream Name"

[2014-08-04 14:55] #67 closed, assigned to dhenry-KCI

[2014-08-04 15:16] dhenry-KCI commented on #51
Maggie- The Plats don't seem to be displaying correctly. Bioswales within watershed 021307021130 have related Plats but no results are being displayed within the widget.

To recreate:
Strategies>Swales

12 Digit Watershed = 021307021130

Swlaes within this watershed have plats but no records are being displayed.

[2014-08-04 15:19] dhenry-KCI opened #83 "Selection Filters- Reset Button"
When the user clicks "RESET" the District and County filters are retaining the values that were originally selected.

[2014-08-04 19:33] dhenry-KCI opened #84 "TMDL Results- Sandfilters"
Maggie- I am receiving an error when i try to view sand filters within the widget.
I have attached a screen shot of the error.

To recreate:
TMDL STRATEGIES > Sand filter

12 Digit Watershed = 021311040940

![sand filters](https://cloud.githubusercontent.com/assets/4129185/3802340/160c7440-1c0e-11e4-98d2-79a0562eb208.PNG)

[2014-08-04 20:52] ecomwu commented on #84
The issue is fixed. But still no data return. I'm not sure whether it's data issue or not.
@ehsan67 , could you help me to take a look at it?

[2014-08-04 20:59] ecomwu commented on #69
I've fixed this and committed the code already. Please test it later.

[2014-08-04 21:37] ecomwu commented on #70
I've fixed this issue and committed it already. Please test it later.

[2014-08-05 12:55] TaraF commented on #83
This has been fixed and redeployed:  http://vm-egis01/egis/viewer.html

Please test.

[2014-08-05 13:10] ehsan67 commented on #84
@ecomwu It is fixed

[2014-08-05 21:25] ecomwu commented on #51
After changing the code, I still don't have data return for this selection.
@ehsan67  could you help me to look into that?

[2014-08-06 14:11] ehsan67 commented on #51
@ecomwu  Select Tree planting , then filter based on 12 digit watershed "021309061012" . Then find "030216UT" value in the first column . It has 2 plat references.

[2014-08-06 15:07] ecomwu commented on #51
This issue is fixed after testing. Please test it in next release.

[2014-08-06 17:23] #84 closed, assigned to ecomwu

[2014-08-06 17:24] #83 closed, assigned to dhenry-KCI

[2014-08-06 17:26] #76 closed, assigned to ecomwu

[2014-08-06 17:26] #69 closed, assigned to ecomwu

[2014-08-06 20:09] rmeitl commented on #5
@dhenry-KCI , I think this is still an issue? When selecting a 6 digit, it doesn't refine results for 8 or 12.

[2014-08-06 20:13] rmeitl commented on #1
@dhenry-KCI @TaraF   - this isn't working, I don't think.

[2014-08-06 20:16] #70 closed, assigned to dhenry-KCI

[2014-10-22 14:38] #1 closed, assigned to TaraF

[2014-10-22 14:38] #6 closed

[2014-10-22 15:33] BrittanyHuber opened #85 "Select by Map - 6.11 - select by map returns no results"
When the user attempts to select by map, no results are returned.

![polygon](https://cloud.githubusercontent.com/assets/8092133/4738882/39b741a6-5a00-11e4-8052-2d58d2ea058c.JPG)

![capture](https://cloud.githubusercontent.com/assets/8092133/4738663/b3b4a9f0-59fe-11e4-848a-577752504bf7.JPG)

Steps to recreate:
Selection Tab > Map
Select By TMDL Strategies > Planting Trees or forestation on Perviou

[2014-10-22 15:47] BrittanyHuber opened #86 "Select by Map - 6.11 - select by map not identifying results"
When the user selects by map, a dialog box pops up stating that no results were returned. When clicking on results tab, it states that a number of results were returned, with no actual results results returned.

![results_tab](https://cloud.githubusercontent.com/assets/8092133/4739117/20f8ad10-5a02-11e4-90f2-42a1814e7f11.JPG)

Steps to recreate:
Selection Tab > Map
Select By TMDL Strategies > Plan

[2014-10-22 15:48] BrittanyHuber opened #87 "Select by Map - 6.11 - select by map not identifying results"
When the user selects by map, a dialog box pops up stating that no results were returned. When clicking on results tab, it states that a number of results were returned, with no actual results returned.

![results_tab](https://cloud.githubusercontent.com/assets/8092133/4739117/20f8ad10-5a02-11e4-90f2-42a1814e7f11.JPG)

Steps to recreate:
Selection Tab > Map
Select By TMDL Strategies > Planting Tre

[2014-10-22 16:12] BrittanyHuber opened #88 "Select by Form (TMDL-Widget) 6.11 - unable to select by form after selecting by map"
When attempting to select by map failed, going back to select by form and trying to select by county, the option to click select is grayed out.

![selectfail](https://cloud.githubusercontent.com/assets/8092133/4739451/c65d1474-5a04-11e4-9b4a-4574f5b91c4f.JPG)

Steps to Recreate:
Selection Tab > Map
Select By TMDL Strategies > Planting Trees or forestation on Pervious Urban
Drew a polygon around Ha

[2014-10-22 17:12] BrittanyHuber opened #89 "Select by Form (TMDL-Widget) 6.11 - results window fails to update when new selection returns no results"
When selecting by form, the results window does not update the number of features returned when a new selection is made and nothing is returned. It will update when the new selection returns data.

![balt46](https://cloud.githubusercontent.com/assets/8092133/4740328/26376b18-5a0c-11e4-9e46-83963af6e524.JPG)

![gunpowder27](https://cloud.githubusercontent.com/assets/8092133/4740333/2b3b1ac4-5a0c-11

[2014-10-22 17:19] BrittanyHuber opened #90 "Select by Form (TMDL-Widget) 6.11 - wetland site selection appears twice"
Wetland site selection is listed twice in the drop down menu when selecting by site selection.

![wetland](https://cloud.githubusercontent.com/assets/8092133/4740687/79260836-5a0f-11e4-9e59-c9c87e4c4270.JPG)

Steps to recreate:
Selection Tab > Form
Select By Site Selection > Wetland Site Selection (appears twice)

[2014-10-22 18:59] #87 closed, assigned to dhenry-KCI

[2014-10-22 19:22] BrittanyHuber opened #91 "Select by Form (TMDL-Widget) 6.11.10 - shop does not prepopulate district and county"
When selecting by form, within the filtered options the system does not allow you to select a shop in order to prepopulate district and county values.

![shop](https://cloud.githubusercontent.com/assets/8092133/4742619/8161c97a-5a20-11e4-83e3-7f0ab5868bf3.JPG)

Steps to recreate:
TMDL Strategies > Planting Trees
Filter by geography > shops (drop down menu does not provide a list of shops to choose

[2014-10-22 19:27] BrittanyHuber opened #92 "Select by Form (TMDL-Widget) 6.11.10 - 8-digit watershed does not prepopulate 6 and 12-digits"
When selecting by form, within the filtered options the system does not prepopulate the 6-digit watershed and 12-digit watershed when the 8-digit watershed is selected.

![8digit](https://cloud.githubusercontent.com/assets/8092133/4742699/1f441ad0-5a21-11e4-993c-e30733c79068.JPG)

Steps to recreate:
TMDL Strategies > Planting Trees
Filter by geography > watershed
8 digit watershed > Big Elk Creek

[2014-10-22 19:37] BrittanyHuber opened #93 "Select by Form (TMDL-Widget) 6.11.10 - 12-digit watershed does not prepopulate 6 digit name/number"
When selecting by form, within the filtered options the system does not prepopulate the 6-digit name and or number when 12-digit watershed is selected.

![12dig](https://cloud.githubusercontent.com/assets/8092133/4742814/0cfbef32-5a22-11e4-8d1d-e72b0466862d.JPG)

![12dig2](https://cloud.githubusercontent.com/assets/8092133/4742872/9b6e34aa-5a22-11e4-9e68-648d5e295f33.JPG)

Steps to recreate:
TMDL

[2014-10-22 20:07] BrittanyHuber opened #94 "Feature Manager (TMDL-Widget) - 6.12.3 - asset editor web service error"
When selecting by form, the Asset Editor encounters a web service error when selecting by certain assets and site selection features. In some cases the general information results are returned, while in others no results are returned.

![error](https://cloud.githubusercontent.com/assets/8092133/4743346/d0f41564-5a26-11e4-98ef-d15a85136f5f.JPG)

![catach](https://cloud.githubusercontent.com/assets/

[2014-10-22 20:25] BrittanyHuber opened #95 "Feature Manager (TMDL-Widget) - 6.12.16 - review tab does not state the number of review records"
The system does not provide a dynamic indicator badge on the REVIEWS tab within the site selection feature results tab to highlight the number of associated records in the tab.

![review](https://cloud.githubusercontent.com/assets/8092133/4743590/683975e8-5a29-11e4-9e64-5730f5fdef4f.JPG)

Steps to recreate:
Select by > Site Selection > Tree Site Selection
Filter by > geography > District 2 > Cecil

[2014-10-22 20:33] BrittanyHuber opened #96 "Feature Manager (TMDL-Widget) - 6.21 - not able to access associated documents"
The system does not allow the user to display associated documents for any records.

![documents](https://cloud.githubusercontent.com/assets/8092133/4743692/134663d8-5a2a-11e4-9c89-8950611b9034.JPG)

![notavail](https://cloud.githubusercontent.com/assets/8092133/4743695/178f9a68-5a2a-11e4-8128-06b5afd5c69c.JPG)

Steps to recreate:
select by form > TMDL Strategies > Planting Trees or Forestation on

[2014-10-22 20:39] BrittanyHuber opened #97 "Stream Restoration (TMDL-Widget) - 6.27 - geometry missing"
The system is missing geometry for certain assets that exist in the database.

![missingstream](https://cloud.githubusercontent.com/assets/8092133/4743869/68290f30-5a2b-11e4-86ca-2ba0789f2fd0.JPG)

Select by form > TMDL Strategies > Stream Restoration
Filter by geometry > District 5, Anne Arundel > 020003UR (also did not return any feature information)

[2014-10-22 20:47] BrittanyHuber opened #98 "Street Sweeping (TMDL-Widget) 6.30.4 - geometry missing"
The system returned an error that no geometry data was found for a street sweeping segment that exists in the database.

![sweeper](https://cloud.githubusercontent.com/assets/8092133/4744000/896b6566-5a2c-11e4-8c81-93215aabd0ed.JPG)

Select by form > TMDL Strategies > Mechanical Street Sweeping
Filter by geometry > District 4 > 030001US

[2014-10-22 20:52] BrittanyHuber opened #99 "Street Sweeping (TMDL-Widget) 6.30.6 - activity information associated to wrong activity table"
The system displays general information in the activity tab that is associated to the the TMDL Activity table, not the Sweeping Activity table. Fields listed in requirements document are for the associated SWEEPING_Activity table (fiscal year, total miles swept, swept by, date entered, plan achieved, username, general comments), however the fields in the widget are for the TMDL_Activity table.

![

[2014-10-22 21:02] BrittanyHuber opened #100 "Feature Manager (TMDL-Widget) - 6.36.1 - inspection forms missing"
The system does not present the proper inspection form for any asset. Some assets indicate that they have an associated inspection record next to inspection (1), however the form is blank.

![inspection](https://cloud.githubusercontent.com/assets/8092133/4744247/9d4c3cac-5a2e-11e4-9087-adb63fcaf98c.JPG)

Steps to recreate:
Selection by Form > Select by TMDL Strategies> All TMDL Strategies
Filter b

[2014-10-22 21:11] BrittanyHuber opened #101 "Feature Manager (TMDL-Widget) - 6.37 - LUC practice tab is empty"
The system does not provide information in the associated table LUC Practice for tree planting sites.

![lucpractice](https://cloud.githubusercontent.com/assets/8092133/4744330/4b3f60dc-5a2f-11e4-93e8-cf50216ff775.JPG)

Selection by Form > TMDL Strategies > Planting Trees
Filter by Geography > District 3 > Montgomery
LUC Practice tab is empty for all features

[2014-10-29 13:06] TaraF commented on #90
Brendan,
Can you take a look at this one with me?

This is on the data / domain side.  The code and description are duplicating itself for Wetland:  http://shagbdapp/TMDL//api/Domains/GetSiteSelectionNames?format=xml&browsernocache=Wed%20Oct%2029%2009%3A01%3A54%20GMT%2D0400%202014

[2014-10-29 13:19] TaraF commented on #88
Hi Brittany,

I am unable to replicate after following the steps above.  Could you let me know if this still persists for you?

Thanks,
Tara

[2014-10-29 13:22] TaraF commented on #101
This service is currently missing from the build deployed to SHA test:  http://shagbdapp/TMDL/api/Strategies/GetLucPractices?

[2014-10-29 13:33] TaraF commented on #100
Hi Maggie,

Could you take a look at this issue? (Search Stream Restoration in Montgomery County -- 150014UR is good example).  This seems to be happening in our test environment also:  http://vm-egis01/egis/viewer.html

However, it appears the service call for inspections is returning as expected, just not showing in the UI: http://vm-city102/TMDL/api/Inspections/GetStreamInspections?activityId=e

[2014-10-29 13:49] TaraF commented on #99
Hi Maggie,

Please take a look at this bug.  Please fix if you are able, or let us know if there was a reason we are using the general items under Activity here instead of in req 6.30.6.  If that is the case, can you send a quick reason and I will document it (this may be something you already worked out with Dustin).

Thanks!
Tara

[2014-10-29 13:55] ecomwu commented on #99
Hi Tara,
The Activity always will display the information from TMDL activity table I guess. And for this specific strategy type, there is a tab call Actual Sweep will display related information.

Thanks,
Maggie

[2014-10-29 13:55] #99 closed, assigned to ecomwu

[2014-10-29 14:10] TaraF commented on #98
This appears to be data issue.  There is no TMDL_ACTIVITY_ID = 'E4C50FC6C5214C478F2C590891047341'   in the map service query.   Either something is missing in the db to make the connection, or the map service may not have all the joins necessary to return (unlikely since the others are working ok)

[2014-10-29 14:12] ecomwu commented on #100
Hi Tara,

I took a look at this issue, and I do follow the steps to get the result. The inspection's information displays correctly on my side.

And I've committed all changes I have so far, you can review it to see whether we still have the same issue on this tab.

Please let me know if you have any questions.
Thanks,
Maggie
![tmdl issue 100](https://cloud.githubusercontent.com/assets/7735468/482

[2014-10-29 14:23] TaraF commented on #97
Same issue as bug #98:

No data associated with this one at all though, appears to be db issue:
http://shagbdapp/TMDL/api/Strategies/GetActivityInfo?version=eGISW&activityId=27de28a8%2D63eb%2D4fdf%2Da892%2Db1f87d8dd9d5&format=xml

http://shagbdevarc1:6080/arcgis/rest/services/Environmental/TMDL_STRATEGIES_EDIT/MapServer/1/query?f=amf&returnGeometry=true&spatialRel=esriSpatialRelIntersects&where=TM

[2014-10-29 14:26] TaraF commented on #96
This is pointing to the wrong server:  vm-city102 instead of shagbdapp (http://vm-city102/TMDL/doc/AX7225168-FA-20101029.pdf)

--check config file and repoint
--or check code to make sure pointing to config file

[2014-10-29 14:29] TaraF commented on #95
Hi Maggie,

Could you add this?

Thanks,
Tara

[2014-10-29 14:34] ecomwu commented on #95
Hi Tara,
I don't get it. Dose that mean we need to add the number of Reviews which is same as Plat tab?

Thanks,
Maggie

[2014-10-29 14:40] BrittanyHuber opened #102 "Export Functionality (TMDL_Widget) 6.12 - exports too many records"
When exporting features to both excel and geodatabase formats, the files contain too many records.

![249results](https://cloud.githubusercontent.com/assets/8092133/4827517/12655b5a-5f79-11e4-85f6-8f68d6c48620.JPG)

![480resultsexcel](https://cloud.githubusercontent.com/assets/8092133/4827520/17b928de-5f79-11e4-92cb-4bdb6c6c3dd1.JPG)

![gdb480](https://cloud.githubusercontent.com/assets/8092133/48

[2014-10-29 14:42] TaraF commented on #94
For the first case above, the error message displayed is associated with this service issue (previously noted in another bug): http://shagbdapp/TMDL/api/Strategies/GetLucPractices?

For the second case, the error message displayed is associated with this service:  http://shagbdapp/TMDL/api/Strategies/GetLRInletCleaningGeneralInfo?browsernocache=Wed%20Oct%2029%2010%3A32%3A54%20GMT%2D0400%202014&ver

[2014-10-29 14:49] TaraF commented on #91
This was previously discussed -- and was decided that we would not support backwards filtering from the Shop value.  User must select a County before being able to select a Shop.

I can probably dig up the documentation on this issue if necessary.

[2014-10-29 14:50] BrittanyHuber opened #103 "Export Functionality 6.12 - export to geodatabase extracts a second zip file from a zip file"
When exporting to geodatabase format, a zip file is created. When extracting all files from the zip file results in a second zipped file, which the user needs to extract all files from again.

![export](https://cloud.githubusercontent.com/assets/8092133/4827723/ab051d4a-5f7a-11e4-970c-86d92a57e1b3.JPG)

![extractall1](https://cloud.githubusercontent.com/assets/8092133/4827726/adfc9a64-5f7a-11e4-86

[2014-10-29 15:40] TaraF commented on #96
Hi Maggie,

Can you update any places you had this hardcoded (http://vm-city102/TMDL/doc/) in the TMDL code?  I did create a document URL to pull from the config file, so you can reference that (in TMDLComponent.as):

//document down URL
documentURL = configXML.webservices.downloadservice;//TF updated
//documentURL = "http://vm-city102/TMDL/doc/";

Also, it is probably a good time to check photos

[2014-10-29 16:50] ecomwu commented on #96
Hi Tara,

I've changed document and photo related URL issues. And I've already committed all changes I have so far, please feel free to check it and let me know if you have any issues.

Thanks,
Maggie

[2014-10-29 17:46] TaraF commented on #95
Maggie --  yes, that is my understanding.  Since there is one review in the above screen capture, I think they would like to see the Review tab read "Review (1)".

[2014-10-29 17:51] ecomwu commented on #95
Tara -- since the "Review" tab's information is categorized by review date, that means maybe there are 5 reviews which need to be displayed as "Review (5)", but inside the tab, it filters as different review date, and maybe different date has different count review record. I doubt that will confuse user to see the current review which under specific date has 3 records as example but the total revi

[2014-10-30 12:33] TaraF commented on #93
This has been fixed.  Please wait to test until in SHA test.  Also, please note, that there has to be data to support all levels of watershed.  For example, 021202 does NOT exist in db, therefore will never be populated.

[2014-10-30 13:51] TaraF commented on #92
This has been fixed. Please wait to test until in SHA test. Also, please note, 6 digit is now being populated on 8 digit change, however, 12 digit can never be auto selected at this point, only filtered to the 8 digit chosen.

[2014-10-30 14:28] TaraF commented on #89
This has been fixed. Please wait to test until in SHA test.

[2014-11-03 14:20] TaraF commented on #85
http://shagbdapp/TMDL/api/Strategies/GetByPolygon?version=eGISW&strategyType=FPU

not returning any results.

[2014-11-03 19:55] dhenry-KCI commented on #98
This feature is missing the route line geometry which is causing the error above.I will leave this open until the route line is added to the database.

[2014-11-04 19:29] TaraF commented on #86
This is fixed. Please wait to test until it is in SHA test.

[2014-12-04 15:37] TaraF commented on #94
This is fixed, please wait to test.

[2014-12-04 15:38] TaraF commented on #101
This is fixed, please wait to test.

[2014-12-05 13:44] TaraF commented on #101
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:44] TaraF commented on #94
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:45] TaraF commented on #93
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:45] TaraF commented on #92
Please test on http://shagbdapp/egis/viewer.html.  (please also see note above)

[2014-12-05 13:45] TaraF commented on #89
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:46] TaraF commented on #86
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:46] TaraF commented on #85
Please test on http://shagbdapp/egis/viewer.html

[2014-12-05 13:48] TaraF commented on #97
Data is missing, please see bug#98

[2014-12-05 14:08] BrittanyHuber commented on #86
Tested and it is working.

[2014-12-05 14:08] #86 closed, assigned to BrittanyHuber

[2014-12-05 14:22] BrittanyHuber commented on #101
Tested and it works.

[2014-12-05 14:22] #101 closed, assigned to BrittanyHuber

[2014-12-05 14:51] BrittanyHuber commented on #94
Tested both and they are working.

[2014-12-05 14:51] #94 closed, assigned to BrittanyHuber

[2014-12-05 14:53] BrittanyHuber commented on #93
Tested and its working.

[2014-12-05 14:53] #93 closed, assigned to BrittanyHuber

[2014-12-05 14:55] BrittanyHuber commented on #92
Tested and its working.

[2014-12-05 14:55] #92 closed, assigned to BrittanyHuber

[2014-12-05 15:02] BrittanyHuber commented on #89
Tested and it works.

[2014-12-05 15:02] #89 closed, assigned to BrittanyHuber

[2014-12-05 15:23] BrittanyHuber commented on #85
Tara,

While testing this, the error dialog does not show up anymore, however it is not returning any results.

To recreate:
make a selection by form then when attempting to select by map, after drawing polygon it sends you back to the select by map form, and does not return any results.

Selection Tab > Form
Select By TMDL Strategies > Swales
Filter by Geography > District 4 > County Baltimore (4

[2014-12-08 13:29] BrittanyHuber opened #104 "TMDL Strategy Asset Details (TMDL_Widget) - 6.12.15 - Sites without reviewer record retain information from previous site selected"
If a site without a reviewer record is selected after a site that has a reviewer record, it displays the previous sites review record information in the review tab.

![image](https://cloud.githubusercontent.com/assets/8092133/5339795/09292af4-7eb3-11e4-91ea-21109bf5bdb6.png)

![image](https://cloud.githubusercontent.com/assets/8092133/5339796/0c4f0154-7eb3-11e4-9424-d5856e1dbac3.png)

Steps to Rec

[2014-12-08 14:03] BrittanyHuber opened #105 "Site Reports (TMDL_Widget) - 6.74 - Site Reports function does not generate a report"
When selecting a site selection site in the feature manager, the system does not generate a report when clicking the "Site Report" button.

![image](https://cloud.githubusercontent.com/assets/8092133/5340263/9ffb746e-7eb8-11e4-9b05-1f289a37f72b.png)

Steps to Recreate:
Select by: Site Selections > Tree Site Selection
Filter by: Geography > District 4 > Baltimore
Select any feature in the feature m

[2014-12-08 14:51] BrittanyHuber opened #106 "Documents (TMDL_Widget) - 6.21 - Link to view documents does not work"
When selecting the link to view a document, the file is not found.

![image](https://cloud.githubusercontent.com/assets/8092133/5340813/c43e3bc6-7ebe-11e4-9f8f-ff34e9b34181.png)

![image](https://cloud.githubusercontent.com/assets/8092133/5340786/8782b3f6-7ebe-11e4-814f-c5953a09ee0b.png)

Steps to Recreate:
Select by: Site Selection > Tree Site Selection
Filter by: Geography > District 2 > Cecil
S

[2014-12-08 15:03] BrittanyHuber commented on #102
Tara,

EFF_BMP site selection is not exporting the correct number of features either. In district 2, Cecil county I selected all TMDL site selections, then exported all feature types. EFF_BMP only exported 621 files, but when I went back to the selection tab and selected just EFF_BMP site selection, it returns 619 sites. The rest of the asset types exported the correct number of features.

Also, w

[2014-12-09 15:34] BrittanyHuber opened #107 "General Information (TMDL_Widget) - 6.12.14 - General information retained from the first site selected"
When selecting a tree site, the general information tab always displays the information from the first site selected. If selecting another asset type and then selecting a different tree site, the information from the first tree site selected is still retained.

![image](https://cloud.githubusercontent.com/assets/8092133/5359861/7035b63c-7f8e-11e4-8ac9-b9a3a19ddac5.png)

![image](https://cloud.gith

[2014-12-09 15:44] BrittanyHuber opened #108 "Select by Map - (TMDL_Widget) - 6.12.3 - TMDL ID's not returned for swales"
When selecting by map, the TDML ID and site names for swales are not returned.

![image](https://cloud.githubusercontent.com/assets/8092133/5360029/b51399da-7f8f-11e4-98de-3338b486e0f0.png)

Steps to Recreate:
Selection > Map
Select by TMDL Strategies > Swales
draw a polygon around a county
returned results are missing TMDL ID's and site names

[2014-12-09 15:59] BrittanyHuber commented on #88
Tara,

I encountered this issue again.

![image](https://cloud.githubusercontent.com/assets/8092133/5360172/a401f35c-7f90-11e4-90e6-a6a2abee5fb8.png)

Steps to recreate:
Selection Form
Select by TMDL Strategies > Swales
Filter by: Geography > Distrct 5
Validate and Select
Switch Selection > map
Select by TMDL strategies > swales
large polygon drawn
sites returned
Selection > form
Filters (Geograph

[2014-12-09 16:13] BrittanyHuber opened #109 "Feature Manager - (TMDL_Widget) - 6.12.14 - Inspection records not displaying correctly"
When selecting a stream record in the feature manager, the system does not display all of the information in the Inspection tab. Sites that have more than one inspection record, display only one.

![image](https://cloud.githubusercontent.com/assets/8092133/5360630/f6640588-7f93-11e4-903e-427ebe90b8ad.png)

![image](https://cloud.githubusercontent.com/assets/8092133/5360623/eaf0d528-7f93-11e4-9356-

[2014-12-09 16:20] BrittanyHuber opened #110 "Asset Reports - (TMDL_Widget) - 6.74 - are not displaying accurate information"
Asset reports are not pulling the correct information.

Steps to Recreate:
TMDL Strategies > All TMDL Strategies
Filter By > Geography > District 5
Site 080502
Asset Report
AD Date, Bid Date, NTP Date, Proposed Build Start Date - do not match the database

[2014-12-09 16:35] ecomwu commented on #107
Fixed. Please review it later.

[2014-12-09 21:42] ehsan67 commented on #105
@ecomwu I wasn't sure if you did the reports in client side

[2014-12-10 14:09] ecomwu commented on #105
I thought those site reports were not included in phase 1. Attached the screenshot is report list I have for phase 1 for your reference.
![report](https://cloud.githubusercontent.com/assets/7735468/5377097/0fee8dc6-804c-11e4-9c2a-d149c17ad706.PNG)

[2014-12-10 17:13] BrittanyHuber commented on #105
Tested and all are working except;

Tree inspection reports:

![image](https://cloud.githubusercontent.com/assets/8092133/5380251/ac655b22-8064-11e4-83d0-f9e16c5da1ff.png)

Pavement removal:

same error as above

to recreate:
tmdl assets > impervious surface elimination
geography > district 7
060002UI > inspection report

Unable to test retrofits because there are no retrofits with inspection reco

[2014-12-11 14:22] TaraF commented on #102
When selecting all TMDL Strategies (or Site Selections), it takes the script some time to run through each. I watched the network trace, and it did eventually finish the export successfully. Do you recommend having a message show up for the user that the script is still processing while it is running?  If so, should that be an enhancement?

I see the same discrepancy in the TMDL site selection EFF

[2014-12-11 17:13] ehsan67 commented on #105
@ecomwu  Maggie , could you check if the report URL is correctly generated in Flex side?

[2014-12-15 15:23] BrittanyHuber commented on #102
While researching the following issue:
site selections > EFF_BMP site selection > District 2 > Cecil county > exports 619 records
site selections > All tmdl site selections > District 2 > Cecil county > EFF_BMP exports 621 records

The export with 621 records includes 2 sites from Carroll County (0600001 and 0600002). Checked in the database for an underlying data issue and have not identified the

[2014-12-15 15:29] #91 closed, assigned to dhenry-KCI

[2014-12-15 18:15] ehsan67 commented on #110
@BrittanyHuber  can you provide values for those fields that are wrong?

[2014-12-16 14:27] BrittanyHuber commented on #5
This has been fixed (also logged as issue #92 ). 6 digit is now being populated on 8 digit change, however, 12 digit can never be auto selected at this point, only filtered to the 8 digit chosen.

[2014-12-16 14:27] #5 closed, assigned to dhenry-KCI

[2014-12-16 14:46] BrittanyHuber commented on #53
Tested and is working...

![image](https://cloud.githubusercontent.com/assets/8092133/5455295/46edaeb8-8508-11e4-824d-2d5bf119118a.png)

[2014-12-16 14:46] #53 closed, assigned to ecomwu

[2014-12-16 14:52] BrittanyHuber commented on #90
Does not appear twice anymore.

![image](https://cloud.githubusercontent.com/assets/8092133/5455396/2b49175a-8509-11e4-9436-b6cabc5379d0.png)

[2014-12-16 14:52] #90 closed, assigned to BC89

[2014-12-16 15:17] BrittanyHuber commented on #100
Tested and seems to be working.

[2014-12-16 15:17] #100 closed, assigned to ecomwu

[2014-12-16 22:28] #52 closed, assigned to dhenry-KCI

[2014-12-17 13:53] TaraF commented on #108
This issue has to do with information being return by services: GetByPolygon.  I will work with Ehsan to resolve.

[2014-12-17 15:18] BrittanyHuber commented on #85
![image](https://cloud.githubusercontent.com/assets/8092133/5473275/1332eac4-85d6-11e4-8b66-372b8107d47e.png)

[2014-12-17 15:23] BrittanyHuber commented on #85
![image](https://cloud.githubusercontent.com/assets/8092133/5473354/ca715c48-85d6-11e4-8eb0-d07e9188c0bc.png)

[2014-12-17 17:22] TaraF commented on #88
This issue is fixed. Please wait to test until pushed to shagbdapp.

[2014-12-17 17:30] ecomwu commented on #51
@ehsan67  Could you help me take a look at this issue? I thought it might be data issue. there is no data return.
To recreate:
 Strategies>Swales

12 Digit Watershed = 021307021130

Swlaes within this watershed have plats but no records are being displayed.

[2014-12-17 17:32] BrittanyHuber commented on #110
Ehsan/Dustin,

I think the report is pulling the correct information, the database just hasnt been updated to reflect new edits.

![image](https://cloud.githubusercontent.com/assets/8092133/5475607/7bb2864c-85e8-11e4-8ff7-74611427a598.png)

One other thing... @dhenry-KCI did we want null values to populate as "NULL" or "1/1/0001"?

[2014-12-17 17:33] ecomwu commented on #95
This issue has been fixed.

[2014-12-17 17:39] TaraF commented on #85
Dustin,
I cannot replicate this error.  I have run through the steps to recreate with Brittany, and did a screen share while remoting into my SHA box.  Following her steps, we were able to get the appropriate selection, without any issues like she is reporting above.

When testing again, Brittany was able to replicate the issue on her machine.  I am not sure what the difference would be, but the o

[2014-12-17 18:11] ecomwu commented on #104
This issue has been fixed. Please review it later.

[2014-12-17 18:13] ecomwu commented on #96
This issue has been fixed.

[2014-12-17 20:20] ehsan67 commented on #51
@ecomwu @dhenry-KCI  I don't see any Plat records for Swales in 021307021130 watershed area. Are you sure the data exist?

[2014-12-17 20:34] dhenry-KCI commented on #110
@ehsan67 we should display null date values as "NULL" not 1/1/001

[2014-12-17 20:38] ehsan67 commented on #110
@dhenry-KCI that's related to Eric's side

[2014-12-17 21:28] BrittanyHuber commented on #102
@TaraF for the following issue: site selections > All tmdl site selections > District 2 > Cecil county > EFF_BMP exports 621 records (should be 619). This includes 2 sites from Carroll County (0600001 and 0600002).

In the widget when you select by all site selections in cecil county, 0600001 and 0600002 are excessive land site selection sites that are included because they are populated with the

[2014-12-18 05:00] ecomwu commented on #105
This issue has been fixed. I've committed changes, please review it later.

[2014-12-18 17:38] BrittanyHuber commented on #98
@dhenry-KCI added segments/geometry to the DEV and production environments and it fixed.

[2014-12-18 17:38] #98 closed, assigned to dhenry-KCI

[2014-12-18 20:21] #108 closed, assigned to TaraF

[2014-12-19 18:29] TaraF commented on #102
The new change being implemented for EFF_BMP SS features, is that they will be pulled from the EFF_BMP_PLANNED table.  I believe, based on what i see in the DB, that these two records should not be selected, as they are not found in the planned table at this time.

That, and possible in part a data issue (wrong CO assignment?) are causing this issue. The script itself seems to be working fine, as

[2014-12-19 18:46] BrittanyHuber commented on #85
@TaraF ,

I believe resetting the values in the select by map tab so that none of the fields remain populated from the previous selection should take care of this issue.

Brittany

[2014-12-19 22:22] ehsan67 commented on #102
@TaraF  @BrittanyHuber  @dhenry-KCI  I checked the backend  and realized I was using EFF_BMP_SITe_SELECTION attributes to get the result for that Geography queries. I changed it to EFF_PLANNED_BMP . Please let me know if that fixed the problem

[2014-12-19 22:32] ehsan67 commented on #102
The result returns 522 records for County  = 07

[2014-12-23 19:40] BrittanyHuber commented on #88
fixed.

[2014-12-23 20:21] BrittanyHuber commented on #107
reviewed, and it seems to be working

[2015-01-08 15:20] BrittanyHuber commented on #85
@TaraF this could be directly related to the map service.

Select by map > site selections > all tmdl site selections > polygon (anywhere)  > returns no results.

strategies seem to be working

[2015-01-08 15:24] BrittanyHuber commented on #88
Tested on SHA network and is fixed.

[2015-01-08 15:24] #88 closed, assigned to TaraF

[2015-01-08 16:02] BrittanyHuber commented on #104
Tested on SHA and is fixed

[2015-01-08 16:02] #104 closed, assigned to ecomwu

[2015-01-08 16:08] BrittanyHuber commented on #107
Tested on SHA and is fixed

[2015-01-08 16:08] #107 closed, assigned to ecomwu

[2015-01-08 16:15] BrittanyHuber commented on #109
@TaraF This seems to be working. The second inspection is selected by the drop down "Inspection Date". However, it says inspection 1 of 1. I labelled this as an enhancement since it is working, just maybe not as user friendly as it could be.

[2015-01-08 16:18] BrittanyHuber commented on #110
@dhenry-KCI Information is correct, however the update to display "Null" instead of "1/1/001" has not been happened yet.

[2015-01-08 17:51] BrittanyHuber opened #111 "Contract Information - (TMDL_Widget) - contract information is not displaying correctly"
Contract information is not displaying in the Results tab or in the asset report for Pavement Removal and Stream Restoration Assets. However, the contract information is available through the related table in the HISDEV_NEW database.

The Results tab indicates that there is an associated Contract, but the information is blank.

![1](https://cloud.githubusercontent.com/assets/8092133/5666800/590f06

[2015-01-08 17:53] BrittanyHuber commented on #111
@TaraF - I was unsure who to assign. I am not sure if this is a data related issue or not. If it is, I cant seem to pin point why some streams are displaying correctly while others are not.

[2015-01-13 17:23] TaraF commented on #111
In the database,  it appears the contract status is null.  The contract status must be active, or it will not find it.  It is getting a count of 1 you see in the tab because the contract exists.  It gets no information for it however, because the status is null.  Ehsan worked with me to track this down in the database -- the webservices / oracle packages depend on the status field to have a value.

[2015-01-13 17:49] TaraF commented on #106
The issue here was that documentURL variable had been changed to a static value, instead of pulling from the config xml file like it had been previously:

Is:
//documentURL = configXML.webservices.downloadservice;//TF updated
                documentURL = "http://localhost/DocumentManagement/";

should be:
documentURL = configXML.webservices.downloadservice;//TF updated
                //documentU

[2015-01-13 17:52] TaraF commented on #96
Same issue as #106:

The issue here was that documentURL variable had been changed to a static value, instead of pulling from the config xml file like it had been previously:

Is:
//documentURL = configXML.webservices.downloadservice;//TF updated
documentURL = "http://localhost/DocumentManagement/";

should be:
documentURL = configXML.webservices.downloadservice;//TF updated
//documentURL = "http:

[2015-01-13 18:08] TaraF commented on #85
This was a combination issue -- issue in flex code(fixed) and issue with oracle packages (fixed by Ehsan).  This item is fixed, please wait to test for next push to KCI dev.

[2015-01-13 19:47] TaraF commented on #96
Ready to test.

[2015-01-13 19:48] TaraF commented on #106
Ready to test.

[2015-01-14 14:05] BrittanyHuber commented on #106
tested on SHA network and it is working.

[2015-01-14 14:05] #106 closed, assigned to BrittanyHuber

[2015-01-14 14:07] BrittanyHuber commented on #96
Tested on SHA network, now able to access documents

[2015-01-14 14:07] #96 closed, assigned to BrittanyHuber

[2015-01-14 14:16] #51 closed, assigned to ecomwu

[2015-01-14 15:20] BrittanyHuber commented on #111
data issue. will fix in production DB

[2015-01-14 15:20] #111 closed, assigned to dhenry-KCI

[2015-01-14 15:39] BrittanyHuber commented on #110
Working on both KCI and SHA

[2015-01-14 15:39] #110 closed, assigned to dhenry-KCI

[2015-01-14 15:49] BrittanyHuber commented on #105
phase 2

[2015-01-14 15:49] #105 closed, assigned to ecomwu

[2015-01-14 16:15] BrittanyHuber commented on #85
tested on SHA and is working

[2015-01-14 16:15] #85 closed, assigned to TaraF

[2015-01-29 14:41] dhenry-KCI opened #112 "PROD Test - Asset Geometry not Displaying"
When the user is in the results tab, and selects a feature in the feature manager, an error messages alerts the user that there is no available geometry. This occurs on all asset features.

To recreate - Filter by TMDL Strategies > All Assets
Select : Charles County
Click on a feature in the feature manager - Error message appears.

[2015-01-29 17:33] BrittanyHuber opened #113 "PROD Test - Export Functionality - tree assets are not exporting the correct number of records"
When exporting tree assets, the number of records exported does not match the number of features returned in the results tab.

To recreate:
Strategies > planting trees
district 6 > washington
190 results returned
export to excel > 110 results export

In ASSET_NEW there are 404 sites in District 6, Washington county.

[2015-01-29 17:38] BrittanyHuber opened #114 "PROD Test - Stream asset geometry error"
When selecting a stream asset, the system returns a queryService fault 400, "Invalid or missing input parameters."

To rectreate:
Strategies > Stream Restoration
District 2 (all streams have the same issue)

[2015-01-29 19:46] #113 closed, assigned to nobody

[2015-01-30 17:24] BrittanyHuber opened #115 "PROD Test - Stream Inspection Details tab showing incorrect number"
When a stream site does not have an inspection, the number on the Inspection Details tab is retained from the previous site selected.

To recreate:
Strategies > stream restoration
District 4
120006UR > 1 inspection, 1 Inspection detail
120007UR > 0 Inspections, 1 Inspection detail

[2015-01-30 20:12] BrittanyHuber commented on #115
@TaraF could you take a look to see if this is working for you?

[2015-01-30 20:17] BrittanyHuber opened #116 "PROD Test - Asset and Inspection report erres"

[2015-01-30 20:19] #116 closed, assigned to nobody

[2015-01-30 20:20] BrittanyHuber opened #117 "PROD Test - Inspection and Asset Reports"
For all strategies, the inspection report and asset reports are generating a runtime error.

[2015-02-02 15:46] BrittanyHuber commented on #112
@TaraF - catch basin cleaning and mechanical street sweeping do not return this error, however it does not zoom to the feature on the map.

[2015-02-02 18:22] BrittanyHuber opened #118 "PROD Test - buttons are active"
The following buttons are active:

Site Selection (all strategy types)
- site visit tab - add and delete
- ag. reviews tab - add and delete

Site Selection & Assets (all strategy types)
- Plat tab- add and delete
- Documents tab- add new document

Assets (all strategy types)
- Inspection tab - delete photo, Add & Delete
- As-builts tab - add and delete
- contracts tab - associate new contract

Ass

[2015-02-02 18:44] BrittanyHuber opened #119 "DEV Test - Admin Tab - contracts"
The dev system allows admin users to add/delete contracts, however I am unable to assocaite consultants to the contract or update any other information other than project number, FMIS, and contract type.

When the Associate Consultant button is clicked, the system does not respond.

[2015-02-02 18:53] BrittanyHuber opened #120 "DEV Test - Admin Tab - consultants"
In the admin tab, the user is able to add and delete consultants, however, when adding a point of contact in the create a new consultant dialog box, it does not retain the information.

To recreate:
add a new consultant
Name - test
point of contact - test
Finish
only the name is retained, the point of contact is null.
You are able to add the point of contact after the new consultant has been creat

[2015-02-02 18:58] BrittanyHuber commented on #119
@TaraF - I was able to close out and retest - I am able to associate consultants now.

[2015-02-02 20:29] BrittanyHuber opened #121 "PROD Test - Streams - General Tab"
In the general tab for stream assets, there are mulitple fields that appear twice:

structure type
structure name
mast type
stream name
stream report
stream use
stream order
site name
land use
closest crossing
stream length
linear feet restored
notes
gen com

To Recreate:
assets > stream restoration  > District 3 > 150001UR

Also, the field STRUCTURE NAME in the General tab is Null in the widget,

[2015-02-02 21:15] BrittanyHuber opened #122 "PROD Test - Fields Not Populating"
The followingn fields are not populating in the widget and are populated in the database:

All Assets: Activity Tab
- Construction Purpose
- Status
- For Credit
- Office

EFF_BMP and Outfall Stabilization (Assets and Site Selection): General Tab
- Shop
- District

EFF_BMP_RETROFIT & Outfall Stabilization (site selection): General Tab
- County
- District
- Shop

EFF_BMP: Inspection Tab
- Inspector

[2015-02-04 16:10] TaraF commented on #119
As of now, the widget is set up to only allow editing on Project Number, FMIS, and Contract Type.  Please let me know if any additional fields are needed to be edited.

Also, there was an issue where the consultant list was not showing up, either for the Associate Consultant button on  the Contracts tab, nor in the Firm Name drop down list in the Consultants button.  Both have been fixed, and the

[2015-02-04 17:13] TaraF commented on #120
Fixed: adding a point of contact when adding a consultant is now retained.

Fixed: after deleting a consultant, the information in the grid below also disappears.

Please wait to test until pushed to SHA environment and you are notified.

[2015-02-04 18:06] TaraF commented on #118
The above locations have been fixed for Phase I.

Please wait to test until pushed to SHA environment and you are notified.

[2015-02-04 18:41] TaraF commented on #117
This issue also persists in SHA DEV.  It appears SHA requires that credentials are set in IIS for TMDLReports, or it presents a 401 error (this step was not necessary in KCI dev).

This is fixed on SHA Dev (currently DEV is set with my own Creds).  Please test.

Also, please note, that this will also need to be set in PROD IIS in order for it to work correctly there as well.

[2015-02-04 20:34] TaraF commented on #115
This issue persists in KCI dev also.  Also noted here, the Insp. Details tab had +, - functions that needed to be disabled for Phase I.

[2015-02-05 12:56] TaraF commented on #115
This is fixed, please wait to test until in SHA environment and you are notified.

[2015-02-05 17:26] TaraF commented on #122
This issue was happening on SHA Dev and KCI Dev as well.  There was a combination of webservices updates needed (Ehsan has fixed), and some Flex code issues.

This is fixed, please wait to test until in SHA environment, and you have been notified.

[2015-02-05 18:42] TaraF commented on #121
Both items above have been fixed. Please wait until in SHA environment and you have been notified.

[2015-02-05 20:10] TaraF commented on #112
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:11] TaraF commented on #114
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:12] TaraF commented on #115
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:14] TaraF commented on #118
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:15] TaraF commented on #119
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:16] TaraF commented on #120
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:16] TaraF commented on #121
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 20:21] TaraF commented on #122
Available -- please test in SHA DEV:  http://shagbdapp/egis/viewer.html

[2015-02-05 21:02] BrittanyHuber commented on #112
@TaraF catch basin cleaning and outfall stabilization do not zoom to feature

Impervious surface elimination - error query service fault null 2032, eventually zooms to feature.
Impervious > District 7

[2015-02-05 21:04] BrittanyHuber commented on #114
works in DEV ready for PROD

[2015-02-05 21:06] BrittanyHuber commented on #115
works in DEV ready for PROD

[2015-02-05 21:07] BrittanyHuber commented on #117
works in DEV ready for PROD

[2015-02-06 01:18] BrittanyHuber commented on #118
@TaraF a few delete buttons are still active

ag. review & site visit - delete buttons
all site selections

Inspections - (-) button
planting trees > district 7 > 130117UT

As-Built - delete button
planting trees > district 3 > 160087UT

Stream limits - delete button
stream restoration > district 3 > 150005UR

[2015-02-06 01:21] BrittanyHuber commented on #119
works in DEV ready for PROD

[2015-02-06 01:22] BrittanyHuber commented on #120
works in DEV ready for PROD

[2015-02-06 01:35] BrittanyHuber commented on #121
works in DEV ready for PROD

[2015-02-06 02:03] BrittanyHuber commented on #122
As-Built SHA Action is still not populating
planting trees > district 3 > 160087UT

[2015-02-06 14:06] BrittanyHuber commented on #118
@TaraF - examples for agency reviews and site visits where the delete button is still active:

Ag. Review - tree site selection > district 2 > 0700007UT
Site Visit -  tree site selection > district 2 > 0700005AUT

[2015-02-06 17:47] TaraF commented on #118
Fixed, ready to test in http://shagbdapp/egis/viewer.html (may need to clear browser cache)

[2015-02-06 17:50] TaraF commented on #122
DB changes needed -- DB has description, when it should be showing the domain.  Please update DB (HISDEV_NEW) and test in http://shagbdapp/egis/viewer.html

[2015-02-06 18:13] BrittanyHuber commented on #122
works in DEV ready for PROD

[2015-02-06 19:10] BrittanyHuber commented on #118
works in DEV ready for PROD

[2015-02-09 15:34] BrittanyHuber commented on #114
works in PROD

[2015-02-09 15:34] #114 closed, assigned to TaraF

[2015-02-09 15:40] BrittanyHuber commented on #115
works in PROD

[2015-02-09 15:40] #115 closed, assigned to TaraF

[2015-02-09 16:01] BrittanyHuber commented on #118
@TaraF - Assets - Stream Restoration - Inspection tab - "Upload Photo" button is active.

[2015-02-09 16:07] BrittanyHuber commented on #112
@TaraF catch basin cleaning and outfall stabilization stilll do not zoom to feature.

[2015-02-09 16:09] BrittanyHuber commented on #119
works in PROD

[2015-02-09 16:09] #119 closed, assigned to TaraF

[2015-02-09 16:09] BrittanyHuber commented on #120
works in PROD

[2015-02-09 16:09] #120 closed, assigned to TaraF

[2015-02-09 16:11] BrittanyHuber commented on #121
works in PROD

[2015-02-09 16:11] #121 closed, assigned to BrittanyHuber

[2015-02-09 16:39] BrittanyHuber commented on #122
works in PROD

[2015-02-09 16:39] #122 closed, assigned to TaraF

[2015-02-09 16:48] BrittanyHuber commented on #112
@TaraF outfall seems to be very slow, but eventually works.

[2015-02-09 17:42] TaraF commented on #118
This appears to be working in PROD as well -- Brittany and I both confirmed.

[2015-02-09 18:10] TaraF commented on #112
CBC -- this is still to be determined.  It had not been previously handled for in the code, since it cannot pull the geometry from the map services like the assets with real geometry. Waiting to hear the preference of action for this issue.

Outfall Stabilization -- this does zoom to the feature, it seems to be a lag on the part of the map services at SHA. This is not something I can fix / or cont

[2015-02-27 17:40] Jdeluca16 opened #123 "KCI Dev Advanced Query Builder - Validate"
users goes to  advanced builder and populates field name, operator, and unique value.   after clicking add, the validate button does not always light up/become selectable.  the example i used is f.Mast_TYPE = BC

[2015-02-27 17:43] Jdeluca16 opened #124 "Advanced Query Builder - Field Name"
Field Names in Advanced Query Builder begin with "f."   this should be removed.   E.G. f.MAST_TYPE
![f in name](https://cloud.githubusercontent.com/assets/10602639/6417849/426b5a66-be7e-11e4-9bd4-31caf400a864.PNG)

[2015-02-27 17:47] Jdeluca16 commented on #123
not an issue when select by criteria is filled out

[2015-02-27 17:47] #123 closed, assigned to nobody

[2015-02-27 18:10] Jdeluca16 opened #125 "Ability to Edit Queries"
In advnaced query builder to edit a query entered, the query needs to be cleared and completely reentered.   it would be nice if the query could be edited or even over written as opposed to clearing the entire query first.

[2015-02-27 18:14] Jdeluca16 opened #126 "No message shown when editing session is started"
The following should appear prior to editing a feature.

The system will prompt the user with a security role of EDITOR or ADMIN with the following options upon initiating an edit session (clicking the enable editing checkbox):
• Select between active edit versions available for the specific user, or
• Create a new child version to the eGIS TMDL widget version for editing

it does not.

[2015-02-27 18:22] Jdeluca16 opened #127 "Advance Query Builder - No Results Returned"
I am not getting results returned from the advanced query builder for my queries.   is this because of limited test data in the database or a problem with the query.  an examply of a query i am running is attached.
![no results](https://cloud.githubusercontent.com/assets/10602639/6418516/a5b5e2bc-be83-11e4-94b8-0dfe2ec07ed6.PNG)

[2015-02-27 18:46] Jdeluca16 commented on #126
error message shows up under versioning.  not under results editing

[2015-02-27 18:46] #126 closed, assigned to nobody

[2015-02-27 19:06] Jdeluca16 opened #128 "Error with Trying to Edit"
I get an error message why trying to edit.   The error message appears after results are returned and I hit the edit button in the top right next to the "DB:"  IO then select a database (editing) and version (eGISW) then click the save button.  T
![edit error message](https://cloud.githubusercontent.com/assets/10602639/6419273/c6c2447c-be89-11e4-9c65-fb62787dba81.PNG)
he error message received is

[2015-02-27 19:30] Jdeluca16 commented on #124
This is on KCI Dev

[2015-02-27 19:32] Jdeluca16 opened #129 "Add status bar/hour glass tool when processing"
add something to show that the system is still processing and not locked up when running a search/process that takes more then a second or two.

[2015-02-27 20:10] Jdeluca16 opened #130 "Edits not shown in the Feature Manager"
After making edits to an attribute the results are not shown in the feature manager table.   They are supposed to appear in Red.    To recreate the issue, search on TMDL stratregies - stream restoration, district 4.   click the select button.   in results select the top record tmdl = 030005ur.   add the number 2 to the end of teh site name.   no change appears to the data at the top in the feature

[2015-02-27 20:24] Jdeluca16 opened #131 "Audit Functionality"
Does the audit functionality supposed to be in the UI or part of the backend database?  i didn't see it anywhere in the UI.   this is in reference to requirement

6.12.10 The system will provide an audit trail of all changes to TMDL Structure ID numbers, attributes and feature shapes.

[2015-02-27 20:29] Jdeluca16 commented on #130
This is on KCI Dev

[2015-02-27 20:50] Jdeluca16 opened #132 "Issue Creating/Updating Inspections"
In the KCI Dev environment, while view results from a search on stream restorations in district 3, i selected stream restoration TMDL 160014ur.   when i click on inspections, the add inspection button is grayed out.   This is in reference to requirement 6.36.7.   see attachment for details.
![gray add inspection button](https://cloud.githubusercontent.com/assets/10602639/6420906/4ce5e7c6-be98-11e4

[2015-03-02 14:46] Jdeluca16 opened #133 "Advance Query Wildcard (Like) Returns No Results"
In the KCI dev environment, when running a selection query in the Advanced Query Builder, using the wildcard operator of "Like" returns no results.
To duplicate the issue, select advance query builder enter the following information
field name = orig_milestone_year
operator = Like
input value = 201

[2015-03-02 14:56] Jdeluca16 opened #134 "allow users to clear selection/results"
It would be good if users could clear the selection results.   some times when running new queries it is hard to tell if the new results have been populated or if the old results remain from the previous search.

[2015-03-02 15:29] Jdeluca16 opened #135 "Issue with the Advance query builder connecting to the database"
while working in the KCI Dev environment, in advanced query builder, there is an issue pulling data from the database.    Select TMDL Strategies, all TMDL Strategies field name = ac.status, operator = "=".   this should populate the values in the Unique Value field, however no values are returned.   the unique value field can not be populated.

see screenshot for additional details.
![status](http

[2015-03-02 15:39] Jdeluca16 opened #136 "System Wont Cancel Spatial Edits"
Working in the KCI Dev environment, after making a spatial edit, if the user clicks cancel the change does not get undone.   to recreate do the following steps:
Select by filter TMDL Strategies and all TMDL Strategies
filter by geography and select district 4
in the results select TMDL 030197UT
check the enable editing and click edit shape
move a vertice
in the edit TMDL shape box select cancel
in

[2015-03-02 15:41] Jdeluca16 commented on #133
this may deal less with with the wildcard search and more with the overall database connection/search results in the Advanced Query Builder

[2015-03-02 16:03] Jdeluca16 opened #137 "The system should limit input to the type of field"
working in the KCI dev environment with TMDL 030197UT Site name BA00257 in results under the activity tab the system allows users to enter and save any characters for the Original Mileston years.  This should be limited to numeric values.
![name change](https://cloud.githubusercontent.com/assets/10602639/6448022/01187b3e-c0e5-11e4-9111-1374cf3e88f5.PNG)

[2015-03-02 16:40] Jdeluca16 opened #138 "Pavement Removal Site Selection should display area in Sq yards not in feet"
working in the KCI dev environment, results for Pavement Removal Site Selection  should display area in square yards per requirement 6.15.  It is currently displayed in FT (see screenshot below).  To reproduce this select in the filters Site selection - Pavement Removal Site Selection.   filter by geography and district 4.  In the results scroll select S SID 0300003UI.  scroll down the attributes.

[2015-03-02 17:57] Jdeluca16 opened #139 "Other Site Selections"
Requirement 6.17 references a search on other site selections?   Working in the KCI Dev environment, under selections i don't see an option for other site selections.   was the name changed to something else or is this search missing?

[2015-03-02 18:57] Jdeluca16 opened #140 "Editing Geometry Successful Message When Nothing Was Edited"
In the KCI dev Environment,  after enabling edit, clicking the move button, and clicking finished in the popup window, a message appears stating that " The geometry for TMDL # has been moved successfully"   this error is confusing because no edit was made.  also, since nothing was selected, no # is provided.   This message should be changed to state something like "no changes made"
![edit message]

[2015-03-02 19:49] Jdeluca16 opened #141 "Add the ability to remove contracts assocaited with a record"
Working in the KCI dev environment, after associating a new contract to a feature there is no way to remove/delete the association.   To recreate the scenario, click on a record in the result table. click on the contracts tab and associate several contracts by clicking the assoc New contract button.

![delete association](https://cloud.githubusercontent.com/assets/10602639/6448931/4ae4229e-c0eb-11

[2015-03-02 19:58] Jdeluca16 opened #142 "System Locks up when Associating New Contract"
working in the KCI dev environment, when associating a new contract to an existing record, if no contract is selected the system will lock up.    to recreate this issue take the following steps
1. select by TMDL Strategies -  Planting Trees or Forestation on Pervious Urban
2. filter by geography and select district 4 in the dropdown.  then click on select
3. click on TMDL 030205UT and the Contract

[2015-03-02 20:07] Jdeluca16 opened #143 "The system does not dave contracts after they are associated with a record"
working in the KCI dev environment, after a new contract is associated to a record, if the user clicks off the record and then back on the newly associated records are gone.  To recreate this issue take the following steps
1. select by TMDL Strategies -  Planting Trees or Forestation on Pervious Urban
2. filter by geography and select district 4 in the dropdown.  then click on select
3. click on T

[2015-03-02 20:13] Jdeluca16 commented on #143
this occurred because I wasn't clicking save.  This issue can be ignored.

[2015-03-02 20:13] #143 closed, assigned to nobody

[2015-03-02 20:29] Jdeluca16 opened #144 "Error Message When Adding LUC Practice"
Working in the KCI Dev Environment, when adding a new Luc Practice to a record if a letter is entered instead of a number to the Total Trees field and error message pops up that states the Asset Editor has encountered a web service error ioError #2032.

to recreate this issue
1.  in the selection tab select by TMDL strategies - planting Trees or Forestation on Pervious Urban
2.  filter by geograph

[2015-03-02 20:43] Jdeluca16 opened #145 "Typo - Should Say Golden Ring"
working in the KCI Dev environment, under the selection filter by district 4 and Baltimore.   the shop dropdown should be "Golden Ring" not "Goldern Ring"
![golden ring](https://cloud.githubusercontent.com/assets/10602639/6450000/d9c1eabc-c0f2-11e4-9367-cf395154febe.PNG)

[2015-03-02 22:14] Jdeluca16 opened #146 "County Name Gets Hung Up in Select Filter"
Working in the KCI Dev Environment, while running and changing filters quickly the County name becomes hung up and the reset button does not clear the hang up.    I can recreate the issue but it was not the same steps each time so documentation was tough.  I used a free trial of Camtasia to capture a video of the issue. The video was to large to attach in Github so i saved a copy on the server und

[2015-03-03 14:14] BrittanyHuber commented on #130
After making edits to the Site Name in the attribute manager, the edits do not appear in the feature manager until the selection is made a second time.

Steps to recreate:
TMDL Strategies > Stream Restoration
District 4 > Baltimore
030004UR
Site Name = I 83 Piney Creek
Edit to = Piney Creek
Save Edits
The feature manager still displays "I 83 Piney Creek"
![image](https://cloud.githubusercontent.co

[2015-03-06 14:48] BrittanyHuber opened #147 "PHASE II - KCI DEV - Versioning - 6.9.3 - does not prompt editor/admin user with version options upon enabling editing session"
Upon initiating an edit session by clicking the enable editing checkbox, the system does not prompt the user with a security role of either EDITOR or ADMIN with the following options:
     - Select between active edit versions available for specific user or,
     - Create a new child version to the eGIS TMDL widget version for editing

[2015-03-06 14:52] BrittanyHuber opened #148 "PHASE II - KCI DEV - Versioning - 6.9 - Selection tab highlighted while working in the Versioning tab"
While working in the versioning tab occasionally the selection tab will be highlighted as if you were in the selection tab, while all of the information remains consistent with the versioning tab.

![image](https://cloud.githubusercontent.com/assets/8092133/6527129/46acc6c4-c3e6-11e4-905c-2e59fc23f277.png)

To recreate:
Create a version > then switch version in the top toolbar back to eGISW versio

[2015-03-06 15:04] BrittanyHuber opened #149 "PHASE II - KCI DEV - Versioning - 6.9 - stop editing does not disable"
When enabling an edit session within the versioning tab by selecting “start editing”, the system will display "stop editing." When attempting to end the edit session by selecting the "stop editing" button, the system prompts the user if they would like to save their edits or not. When the user selects “no” the system does end the editing session and the button remains "stop editing." When prompted

[2015-03-06 15:07] BrittanyHuber opened #150 "PHASE II - KCI DEV - Versioning - 6.9.4 - doesn't default to active version upon login"
The system does not default to the active version upon log in to the widget.

To recreate:
Created a version > start editing
Closed out of widget & opened again
Defaults to eGISW version

[2015-03-06 15:18] BrittanyHuber opened #151 "PHASE II - KCI DEV - Versioning - 6.9.6 - doesn't disable change version toggle within active edit session"
The system does not disable to change version toggle if the user is within an active editing session. When switching between versions, the version toggle does not display the name of the version that is currently being edited.

![image](https://cloud.githubusercontent.com/assets/8092133/6527609/07d64e12-c3ea-11e4-86e4-456fe12ce51c.png)

To Recreate:
create a version > start editing
TMDL Strategies

[2015-03-06 15:24] BrittanyHuber opened #152 "PHASE II - KCI DEV - Versioning - 6.9.7 - able to create a new version while in an active editing session"
The system allows the user to create a new version while in an active editing session. The check mark is removed from the version currently being edited, however the stop editing button is still active.

![image](https://cloud.githubusercontent.com/assets/8092133/6527660/7f2434e8-c3ea-11e4-8314-5f2d0a309921.png)

![image](https://cloud.githubusercontent.com/assets/8092133/6527638/46373c66-c3ea-11e

[2015-03-06 15:28] BrittanyHuber opened #153 "PHASE II - KCI DEV - Versioning - 6.9.8 - does not alert user of active editing session upon closing"
The system does not alert the user that they are within an active editing session when closing during an active edit session. Upon reopening the widget, the system defaults to the eGISW version and the editing session has been stopped.

To Recreate:
Create version
start editing
close widget
reopen
eGIS version is now active and the editing session has been stopped on version that was in an active

[2015-03-06 15:35] BrittanyHuber opened #154 "PHASE II - KCI DEV - Versioning - 6.9.9 - doesn't prompt user to alert QC role that version is ready for QC"
The system does not prompt the user to alert the QC role that a version is ready to be QC’ed. When submitting a version for QC, the user is able to select a QC'er and sucecessfully submit the version for QC. However, there is not prompt to alert the QC role that the version is ready, it just appears in the QC Reviewer tab.

![image](https://cloud.githubusercontent.com/assets/8092133/6527864/300962

[2015-03-06 15:44] BrittanyHuber opened #155 "PHASE II - KCI DEV - Versioning - 6.9 - stop editing button not activated upon enabling editing from results tab"
When enabling an edit session in the results tab by selecting the "enable editing" check box, the system does not activate the “stop editing” button in the versioning tab – still says “start editing”

To recreate:
In eGIS version
select TMDL Strategies > planting trees > district 4
select the enable editing check box in the results tab
In the versioning tab, the version previously created still di

[2015-03-06 15:46] BrittanyHuber opened #156 "PHASE II - KCI DEV - Versioning - 6.9.13.1 - no alert that no results are returned"
The system does not alert the user that the search criteria returns no results when switching between versions

To recreate:
Create a new version
Search: TMDL Strategies > Wet Pond or Retention Pond > District 4
Returns no results
Switch to eGIS version using the toggle in the upper right
Switches to the Selection tab does not warn the user that there are no results

The system should alert the us

[2015-03-06 15:50] BrittanyHuber opened #157 "PHASE II - KCI DEV - Advanced Query - 6.11.8 - doesn't return results"
The system does not return result when selecting features by advanced query.

![image](https://cloud.githubusercontent.com/assets/8092133/6528224/8825eb6e-c3ee-11e4-8e59-92d81ea85903.png)

To Recreate:
TMDL Strategies > All TMDL Strategies
Field Name: ac.STATUS
Operator: =
Unique Value: CC (Construction Complete)
Add
Does not validate

*this would return a decent amount of results - the system cou

[2015-03-06 15:54] BrittanyHuber opened #158 "PHASE II - KCI DEV - Advanced Query - 6.11.8 - Acceptance Letter should be unique value"
When selecting field name "Acceptance Letter" the Unique value field should be activated and provide the list of domain values from the database.

![image](https://cloud.githubusercontent.com/assets/8092133/6528283/edaf7e78-c3ee-11e4-8c0a-13acef8a52a6.png)

To recreate:
TMDL Strategies > planting trees
Field Name: Acceptance Letter
Operator: =
Unique Value field disabled (should provide a list fro

[2015-03-06 19:39] leeensminger opened #159 "PHASE II - KCI DEV - Create/Add - 6.23.1 - Ag. Review records are not saved"
While adding an "Ag. Review" record, the system adds the records and related behavior appears correct (i.e., the count on the vertical tab increases, and "Review x of x" is updated).  Upon clicking the Save button, the records appear to be removed and not saved.

Steps to recreate:
1. Within the Ag. Reviews tab of a selected Site Selection feature, and with Enable Editing checked, click Add to add

[2015-03-06 19:54] leeensminger opened #160 "PHASE II - KCI DEV - Delete/Deactivate - 6.45/46/47 - System allows Delete with associated records"
The system will allow a delete of a TMDL Strategy Asset when there are associated records (ex: Inspections).

To recreate:
1.  Identify and select a TMDL Strategy asset that has associated records (Inspections).
2. Click Delete
3. The feature is deleted and removed from the list.

[2015-03-08 16:33] leeensminger opened #161 "PHASE II - KCI DEV - Delete/Deactivate - 6.12.15 - Users can only view the first of multiple Ag Reviews"
When multiple Ag Reviews exist for a site selection feature, the system displays the first review (i.e., "Review 1 of 4").  Upon the user clicking the right arrow to view the next Review, no action is triggered within the system.  The user cannot view the other reviews.

Steps to recreate:
1. Identify a site selection with multiple Ag Reviews (ex: Tree Site Selection, Frederick County, SSID 100000

[2015-03-11 12:09] BrittanyHuber opened #162 "PHASE II - KCI DEV - Versioning - 6.9 - Web service error when switching to pub"
When switching the DB to publication, the system encounters web service error #2032.

To recreate:
Using the button in the top right, switch the DB to publication.
TMDL Strategies > All Strategies > District 3
Web Service Error #2032

![image](https://cloud.githubusercontent.com/assets/8092133/6595910/93350154-c7c5-11e4-8803-5e62e18d498d.png)

[2015-03-11 15:24] BrittanyHuber opened #163 "PHASE II - KCI DEV - Plat Information Tracking - 6.43.4 - Plat does not delete"
When a plat record is deleted and edits are saved, the plat is not deleted.

To Recreate:
Create a version > start editing
Planting Trees > District 4 > 030004UT
Within the results tab enable editing in the editing tool bar
Create a plat record
Save edits
Delete plat record
Save edits
Plat record reappears
Unselect enable editing from the editing toolbar > delete plat > the plat deletes

Upon clea

[2015-03-11 15:34] BrittanyHuber opened #164 "PHASE II - KCI DEV - Versioning - 6.9 - search error when switching from Edit to Pub"
When switching from edit to publication, the system does not allow the user to Select By: any TMDL Strategy.

![image](https://cloud.githubusercontent.com/assets/8092133/6599835/60f752d8-c7e2-11e4-81c5-1425d866ec54.png)

To Recreate:
Using the toggle in the upper right corner, switch from edit to publication
Select by form > TMDL Strategies > nothing appears in the drop down menu

*site selections

[2015-03-11 15:49] BrittanyHuber commented on #164
Unable to recreate this error upon refreshing the widget.

[2015-03-11 16:28] BrittanyHuber commented on #155
This becomes confusing. When enable editing is selected in the results tab, the versioning tab does not indicate in any way that a version is currently being edited. A site was deleted from a version I created, and there was no way to undo this action. By unselecting enable editing, without hitting "save"- this saves the delete without prompting the user if they would like to save edits.

[2015-03-11 18:11] BrittanyHuber commented on #157
@TaraF a few other examples:

TMDL Strategies > Swales > TMDL_BMP_TYPE = "N"
TMDL Strategies > Planting Trees > pay_item >= "4"

[2015-03-11 18:58] BrittanyHuber opened #165 "PHASE II - KCI DEV - As Built Tracking - 6.58.3 - error when creating an asbuilt record"
When an asbuilt record is created and added to a site, the system encounters a web service error upon saving edits.

To recreate:
TMDL Strategies > Planting Trees > District 4 > 030005UT
Create asbuilt
Save
web service error #2032 encountered and the asbuilt record will not save

[2015-03-11 19:10] TaraF commented on #158
Hi Ehsan,

Can you take a look at the service for this?  I am not sure that we have a domain class set up for D_Accept_Letter.  Here is the service:  http://vm-city102/TMDL/api/Strategies/GetFieldsInfo?strategyType=FPU&format=xml&browsernocache=Wed%20Mar%2011%2015%3A06%3A18%20GMT-0400%202015

Here is the return for f.ACCEPTANCE_LETTER:
<TMDLPropertyInfo><DomainName i:nil="true"/><FieldName>f.ACCEP

[2015-03-11 19:12] TaraF commented on #158
Sorry, it didn't like the carrots. Here is the return again:

TMDLPropertyInfo
DomainName i:nil="true"
FieldName f.ACCEPTANCE_LETTER
FriendlyFieldName i:nil="true"
TypeNameString
TMDLPropertyInfo

[2015-03-11 19:16] TaraF commented on #157
Hi Ehsan,

This seems to be web service related -- this works when using FF, but not Chrome or IE.  I think it has to do with the return being able to read as XML, not just JSON.  I think you fixed a service like this for me in the past.  If needed, I can save a Fiddler session where this doesn't appear to be going through correctly. When you get back, can we take a look together?

Thanks

[2015-03-11 20:03] BrittanyHuber opened #166 "PHASE II - KCI DEV - Versioning - 6.9.12 - issue releasing version DB to original owner"
The system should allow a user with a role of ADMIN to release a versioned DB to the original editor by changing the owner to the original editors username. This functionality is not currently available.

[2015-03-12 21:48] GraceAi commented on #159
Fixed by adding validation when creating a new agent review record. Validation includes "REVIEW_GROUP" should not be empty and should not be Consultant. Need to update and republish web service and flex code.

[2015-03-12 21:49] GraceAi commented on #161
Fixed the bug in flex code. Need to update and republish

[2015-03-12 21:49] GraceAi commented on #163
Fixed the bug in flex code. Need to update and republish the changes

[2015-03-12 21:52] GraceAi commented on #165
Fixed the bug in web service. It was caused by the invalid value in "Submittal Number" field.

[2015-03-13 19:13] TaraF commented on #147
Changes made to satisfy this requirement:

User is now prompted to select / start and edit session if they try to click "Enable Editing"  when not in a current edit session.

Also, upon trying to change the DB version selected (in upper right of main UI), when there is an active edit session open, the user will be prompted to stop the edit session and either save/cancel edits before switching the

[2015-03-16 12:56] TaraF commented on #149
This has been fixed.  Please wait to test until notified.

[2015-03-16 13:45] TaraF commented on #148
This has been resolved (with making user stop edit sessions before switching).

Please wait to test until notified.

[2015-03-16 13:46] ehsan67 commented on #158
fixed

[2015-03-16 13:50] TaraF commented on #151
This is resolved (forces user to stop edit session before switching).

Please wait to test until notified.

[2015-03-17 19:05] TaraF commented on #152
This has been resolved -- a user must now stop editing before they can create, delete or submit for QC.

Please wait to test until notified.

[2015-03-17 20:26] GraceAi commented on #142
Fixed by adding validation. Contract can't be null

[2015-03-18 12:11] TaraF commented on #155
This has been resolved. The work flow has been updated to force the user to go to the versioning tab and start and edit session before they can enable the edit functions in the result screen.  If they try, they will be prompted to start and edit session first.  This should prevent unwanted edits without the user being aware that they are in an edit session.

[2015-03-18 13:45] TaraF commented on #156
This is resolved. The updated workflow will clear all results when switching between database or versions, and will take the user to the selection tab.  The user will need to make a new selection to get results for the new version selected.

Also, a note has been added to the database / version popup window, notifying the user:
*Note: When switching the database or versions, the results will be cl

[2015-03-18 14:12] TaraF commented on #157
This is resolved  (added in request: format=xml for FF and Chrome browsers).

Please wait to test until notified.

[2015-03-18 17:22] TaraF commented on #158
f.ACCEPTANCE_LETTER is now available for land use.

[2015-03-18 17:26] TaraF commented on #164
I think there is just some lag time, as all the services have to be called again, it was probably waiting for results for the dropdown, and didn't have a chance to populate until you clicked on it.  Let me know if it persists, or if it is an unreasonable amount of time you are waiting.

[2015-03-18 21:10] GraceAi commented on #130
Fixed. Feature manager will be repopulated on the edit and save. It will get restored if the edit is not saved.

[2015-03-19 13:13] TaraF commented on #150
This is resolved to get the latest edit session by date/time.

Please wait to test until notified.

[2015-03-19 14:21] TaraF commented on #153
The system cannot stop the user from closing the browser tab while in the middle of an edit session, however this was resolved by:

Upon re-entering the widget, if an active edit session was started ("ACS") and not stopped, the user will be forced to stop the session and either save or cancel their edits.  The user will then be set to the latest edit session created, just like normal.

Please wait

[2015-03-19 19:25] TaraF commented on #154
Per our discussion with Dustin (see email) -- the purpose of this requirement was to allow a user to submit to QC upon stopping an edit session.

The resolution provides the user with the choice to submit to QC immediately following the stopping of an edit session, but does not force the user to do so.

Please wait to test until notified.

[2015-03-19 19:27] TaraF commented on #162
I cannot replicate this issue.  Please let me know if it persists in next push of code.

[2015-03-20 13:54] GraceAi commented on #136
This is fixed.

[2015-03-20 13:54] GraceAi commented on #140
This is fixed.

[2015-03-20 17:03] TaraF commented on #147
ready

[2015-03-20 17:04] TaraF commented on #148
ready

[2015-03-20 17:04] TaraF commented on #149
ready

[2015-03-20 17:04] TaraF commented on #150
ready

[2015-03-20 17:04] TaraF commented on #151
ready

[2015-03-20 17:05] TaraF commented on #152
ready

[2015-03-20 17:05] TaraF commented on #166
deferred

[2015-03-20 17:06] TaraF commented on #157
ready

[2015-03-20 17:07] TaraF commented on #156
ready

[2015-03-20 17:07] TaraF commented on #155
ready

[2015-03-20 17:07] TaraF commented on #154
ready

[2015-03-20 17:08] TaraF commented on #153
ready

[2015-03-20 17:49] BrittanyHuber commented on #149
@TaraF I am still encountering this issue when attempting to end an edit session without saving edits. Error #2032 is returned and the system remains in an edit session.

[2015-03-20 18:07] BrittanyHuber commented on #147
@TaraF I am unable to recreate any of these. I am still encountering the same issues....

When an edit session is ended, then enable editing check box is still checked off as if the user is still in an edit session.

I am able to enable editing from the results tab without being prompted to select / start an edit session when I am not in a current editing session.

I am able to change versions whe

[2015-03-20 19:37] BrittanyHuber commented on #149
@TaraF When switching active editing sessions between two versions, the versioning tab appeared as if there were two active editing sessions at the same time.

![image](https://cloud.githubusercontent.com/assets/8092133/6759090/ccad75f6-cf13-11e4-8818-70fd159d714d.png)

To recreate:
Select one version in the versioning tab > start editing > stop editing
Switch versions in the upper right hand togg

[2015-03-23 13:49] BrittanyHuber commented on #140
Verified that it is working in KCI DEV

[2015-03-23 13:49] #140 closed, assigned to BrittanyHuber

[2015-03-23 13:51] BrittanyHuber commented on #150
Verified that it is working in KCI DEV

[2015-03-23 13:51] #150 closed, assigned to BrittanyHuber

[2015-03-23 13:52] BrittanyHuber commented on #153
Verified that it is working in KCI DEV

[2015-03-23 13:52] #153 closed, assigned to BrittanyHuber

[2015-03-23 13:56] BrittanyHuber commented on #156
Verified that it is working in KCI DEV

[2015-03-23 13:56] #156 closed, assigned to BrittanyHuber

[2015-03-23 13:56] BrittanyHuber commented on #158
Verified that it is working in KCI DEV

[2015-03-23 13:56] #158 closed, assigned to BrittanyHuber

[2015-03-23 13:57] BrittanyHuber commented on #148
Verified that it is working in KCI DEV

[2015-03-23 13:57] #148 closed, assigned to BrittanyHuber

[2015-03-23 14:04] BrittanyHuber commented on #152
Verified that it is working in KCI DEV

[2015-03-23 14:04] #152 closed, assigned to BrittanyHuber

[2015-03-23 14:06] BrittanyHuber commented on #151
Verified that it is working in KCI DEV

[2015-03-23 14:06] #151 closed, assigned to BrittanyHuber

[2015-03-23 14:06] BrittanyHuber commented on #154
Verified that it is working in KCI DEV

[2015-03-23 14:06] #154 closed, assigned to BrittanyHuber

[2015-03-23 14:07] BrittanyHuber commented on #155
Verified that it is working in KCI DEV

[2015-03-23 14:09] BrittanyHuber commented on #162
@TaraF I am still encountering this issue

[2015-03-23 14:16] BrittanyHuber commented on #163
Verified that it is working in KCI DEV

[2015-03-23 14:16] #163 closed, assigned to BrittanyHuber

[2015-03-23 14:18] BrittanyHuber commented on #164
@TaraF - when switching from Pub to a version that I created, I encountered this issue again. I waited a few minutes and it still did not populate. When I selected site selections, then selected strategies - the system then was able to populate the drop down.

[2015-03-23 14:40] BrittanyHuber commented on #155
@TaraF - upon ending an edit session from the versioning tab - the enable editing check box remains activated in the results tab. The user is able to delete features even though the editing session has been ended.

[2015-03-23 14:53] BrittanyHuber commented on #165
Verified that it is working in KCI DEV

[2015-03-23 14:53] #165 closed, assigned to BrittanyHuber

[2015-03-23 15:07] BrittanyHuber commented on #147
verified that it is working in KCI DEV

[2015-03-23 15:07] #147 closed, assigned to BrittanyHuber

[2015-03-23 16:12] BrittanyHuber opened #167 "PHASE II - KCI DEV - Advanced Query - 6.11 - results are returned incorrectly"
When selecting by advanced query, the results are returned incorrectly. In the feature manager, fields appear as their codes instead of their values. Also, information is in the incorrect fields. When selecting a feature, it does not populate any information in the attribute manager or zoom to a feature on the map.

![image](https://cloud.githubusercontent.com/assets/8092133/6783033/faf3eaa8-d14d-

[2015-03-23 16:15] BrittanyHuber commented on #157
@TaraF - still unable to return results for site selection features

[2015-03-23 16:24] BrittanyHuber opened #168 "PHASE II - KCI DEV - Advanced Query - 6.11 - query does not clear upon new selection"
When the user creates an advanced query and adds it, the system retains the query until it is manually reset. If the user wants to switch strategies the query should be cleared. Also if the user wants to add a second statement, the filters should be reset.

To recreate:
TMDL Strategies > Planting Trees
field name: CNTY_CODE
operator: =
value: 03
switch strategies to > swales
the query statement is

[2015-03-23 16:35] BrittanyHuber opened #169 "PHASE II - KCI DEV - Versioning - 6.9 - enable editing function"
When the user starts an editing session in the versioning tab, the enable editing function in the results tab should be activated.

[2015-03-23 18:34] TaraF commented on #149
NOTE:  this is happening when user switches "Select" in versioning tab, before properly stopping the first edit session.  This should not be allowed.

[2015-03-24 17:43] TaraF commented on #155
Fixed: system now auto-removes editing capabilities upon stopping an edit session.  (Also, sometimes a error occurred after stopping an edit session, and making a selection -- this is also resolved).

please wait to test until notified.

[2015-03-24 21:40] GraceAi commented on #137
Fixed. Added validation logic on save.

[2015-03-24 21:41] GraceAi commented on #144
Fixed. Added validation logic when creating and saving a Luc Practice

[2015-03-25 19:47] TaraF commented on #157
this was due to a time out issue -- too many results.  Results are now flagged -- if over 5000, the user is asked to narrow the results.  Please let me know if it continues -- if so i can lower the threashold.

please wait to test until notified.

[2015-03-26 16:31] TaraF commented on #167
This has been fixed for both strategies and site selections.

Please wait to test until notified.

[2015-03-27 14:24] TaraF commented on #168
Fixed -- the advanced query builder is cleared out every time that the "Select By" changes -- whether it is strategy / siteselection or the list of types. The filters are also cleared once a new statement has been added to the bottom box -- as requested.

Please wait until notified to test.

[2015-03-27 15:30] TaraF commented on #169
Discussed 3/27 -- not a bug, but a second step to start the editing process.

[2015-03-27 17:37] TaraF commented on #149
Fixed. Version selection cannot be changed if there is an active edit session open (started).  System forces the user to stop the edit session first.

[2015-03-30 16:18] BrittanyHuber commented on #149
verified that this is working in KCI DEV

[2015-03-30 16:18] #149 closed, assigned to BrittanyHuber

[2015-03-30 16:23] BrittanyHuber commented on #155
verified that this is working in KCI DEV

[2015-03-30 16:23] #155 closed, assigned to BrittanyHuber

[2015-03-30 16:30] BrittanyHuber commented on #167
verified that this is working in KCI DEV

[2015-03-30 16:30] #167 closed, assigned to BrittanyHuber

[2015-03-30 16:31] BrittanyHuber commented on #168
verified that this is working in KCI DEV

[2015-03-30 16:31] #168 closed, assigned to BrittanyHuber

[2015-03-30 16:31] #169 closed, assigned to BrittanyHuber

[2015-03-30 16:32] BrittanyHuber commented on #157
verified that this is working in KCI dev

[2015-03-30 16:32] #157 closed, assigned to BrittanyHuber

[2015-03-30 16:49] BrittanyHuber opened #170 "PHASE II - KCI DEV - Advanced Query - Web Service Error when selecting site selections"
They system encounters web service error #2032 when searching for site selections using advaced query.

To recreate:
Site Selections > Trees
Adv Query: CNTY_CODE = 03
select any feature > web service error #2032

*this is for all site selections, assets do not return the error

[2015-03-31 15:29] TaraF commented on #164
Note:  This service -- http://vm-city102/TMDL/api/Domains/GetStrategyNames?isexisting=true&database=pub&format=xml&browsernocache=Fri%20Mar%2027%2008%3A53%3A27%20GMT-0400%202015

sometimes produces an error, other times returns fine.  Seems to be random -- passed the issue to Ehsan / BC, as this seems to be  a known issue webservice or DB related based on  "pub" conditions.  This happens with othe

[2015-03-31 15:34] TaraF commented on #162
Note: This service -- http://vm-city102/TMDL/api/Domains/GetStrategyNames?isexisting=true&database=pub&format=xml&browsernocache=Fri%20Mar%2027%2008%3A53%3A27%20GMT-0400%202015

sometimes produces an error, other times returns fine. Seems to be random -- passed the issue to Ehsan / BC, as this seems to be a known issue webservice or DB related based on "pub" conditions. This happens with other ser

[2015-03-31 16:08] TaraF commented on #170
This has been resolved and redeployed to KCI dev. Please test.

[2015-03-31 19:30] BrittanyHuber commented on #170
verified that this is working in KCI DEV

[2015-03-31 19:30] #170 closed, assigned to BrittanyHuber

[2015-04-01 14:45] dhenry-KCI commented on #161
Corrected.

[2015-04-01 14:45] #161 closed, assigned to GraceAi

[2015-04-01 15:26] dhenry-KCI commented on #159
Corrected

[2015-04-01 15:26] #159 closed, assigned to GraceAi

[2015-04-01 15:30] dhenry-KCI commented on #144
Corrected

[2015-04-01 15:30] #144 closed, assigned to nobody

[2015-04-01 15:32] dhenry-KCI commented on #142
Corrected

[2015-04-01 15:32] #142 closed, assigned to nobody

[2015-04-01 15:49] dhenry-KCI commented on #137
Corrected

[2015-04-01 15:49] #137 closed, assigned to nobody

[2015-04-01 15:51] dhenry-KCI commented on #135
Corrected

[2015-04-01 15:51] #135 closed, assigned to nobody

[2015-04-01 15:56] dhenry-KCI commented on #136
Corrected

[2015-04-01 15:56] #136 closed, assigned to nobody

[2015-04-01 17:12] BrittanyHuber commented on #130
Verified that this works in KCI DEV

[2015-04-01 17:12] #130 closed, assigned to GraceAi

[2015-04-01 17:14] BrittanyHuber commented on #132
Verified that this is working in KCI DEV. Inspection records are not added with the “Add” button on the editor toolbar, they are added with the (+) button in the inspection tab.

[2015-04-01 17:14] #132 closed, assigned to nobody

[2015-04-01 17:16] BrittanyHuber commented on #138
Requirement 6.25 lists incorrect fields for pavement removal site selection. The fields listed in the widget match those in the DB. This is not a bug.

[2015-04-01 17:16] #138 closed, assigned to nobody

[2015-04-01 17:28] BrittanyHuber commented on #145
known issue - will correct in DB

[2015-04-01 17:28] #145 closed, assigned to nobody

[2015-04-01 17:32] BrittanyHuber commented on #133
Needs to include the % in the input value. verified that this is working in KCI DEV.

[2015-04-01 17:32] #133 closed, assigned to nobody

[2015-04-01 17:39] BrittanyHuber commented on #160
verified that this is working in KCI DEV.

[2015-04-01 17:39] #160 closed, assigned to GraceAi

[2015-04-01 17:40] #128 closed, assigned to nobody

[2015-04-01 17:40] BrittanyHuber commented on #124
corrected.

[2015-04-01 17:40] #124 closed, assigned to nobody

[2015-04-01 17:51] BrittanyHuber commented on #127
corrected

[2015-04-01 17:51] #127 closed, assigned to nobody

[2015-04-01 17:52] #146 closed, assigned to nobody

[2015-04-06 12:42] BrittanyHuber opened #171 "Phase II - SHA DEV - Versioning - 6.9.9.1 - will not submit version for QC"
Upon submitting a version for QC, the "Reviewer" column is not populated and the version does not appear in the versioning tab as ready for QC.

To Recreate:
Create a version off of eGISW
Start editing the new version
Stop editing
Submit for QC
The system does not appear to have submitted the version for QC
When clicking the selection tab, error #2032 is encountered

[2015-04-06 19:14] BrittanyHuber opened #172 "Phase II - SHA DEV - unable to save default when switching from pub to edit"
When switching versions using the version toggle in the upper right hand corner from Publication to Editing, the system defaults the Editing version to "eGISW" but does not allow the user to "Save" until they reselect an editing version.

To Recreate:
using the toggle in the upper right hand corner switch to "Publication"
save
switch version again to Editing
eGISW version is defaulted, however the

[2015-04-07 00:15] BrittanyHuber opened #173 "Phase II - SHA DEV - Associating Documents - web service error when uploading document"
When attempting to add a document to a site selection site, the system encounters web service error #2038.

To Recreate:
Site Selections > EFF BMP Site Selection
District 4 > Baltimore
030007 > documents tab
add new document > browse to adobe pdf file > add
web service error #2038

This issue seems to be with site selections only as it was not encountered with Assets.

[2015-04-07 00:25] BrittanyHuber opened #174 "Phase II - SHA DEV - system does not save review records added to features"
When the user adds a Site Visit record to a site selection feature, the system does not maintain edits upon selecting "save" within the results tab.

To Recreate:
Site Selection > EFF BMP Site Selection
District 4 > Baltimore
0300002 > site visit
add test record
save on the editing toolbar in the results tab
the system does not maintain the new site vist record that was just added

[2015-04-07 00:28] BrittanyHuber opened #175 "Phase II - SHA DEV - Stream Restoration - geometry issues"
Missing geometry - due to DB - verify in SHA PROD also

[2015-04-07 00:36] BrittanyHuber opened #176 "Phase II - SHA DEV - 6.27.2 - unable to edit general information in the stream limits tab"
When the user attempts to edit information in the field contained in the stream limits tab, the system does not allow edits to be made.

To Recreate:
TMDL Strategies > Stream Restoration
District 4 > Baltimore
030006UR > General tab > Limit tab
Station from, station to, length and general comments appear as though they are text input editable fields, however the system does not allow edits to be m

[2015-04-07 00:42] BrittanyHuber opened #177 "Phase II - SHA DEV - 6.28.3 - CBC Reduction tab is empty"
The reduction tab for catch basin cleaning does not display any fields/information.

[2015-04-07 00:49] BrittanyHuber opened #178 "Phase II - SHA DEV - 6.30.1 - Editing - the system doesn not retain edits made to street sweeping segments"
When edits are made to the street sweeping plan segments tab, the system does not reatin the edits upon selecting "save" from the results tab.

To Recreate:
TMDL Strategies > mechanical street sweeping
District 4 > Baltimore
030001US > general > plan segments tab
change sweep type from type 3 to type 1 > save
the system does not maintain the edits

[2015-04-07 00:58] BrittanyHuber opened #179 "Phase II - SHA DEV - 6.32 - the sysem does not allow the user to change BMP Type"
When the user attempts to change the BMP type, the system does not maintain the edits.

To Recreate:
TMDL Strategies > District 5
080503
MDE BMP TYPE > edit from Swales to Sand Filter > Save
The system maintains Swales

[2015-04-07 01:07] BrittanyHuber opened #180 "Phase II - SHA DEV - potential tree sites display 1 contract, while the tab is actually null"
Possible DB Issue -

TMDL Strategies > Tree Planting > site name 080215UT-A
Contract (1) > no contract associated
When a contract is added the indicator number displays 1 still. when a second contract is added the indicator number flashes (3) then goes to (2)

[2015-04-07 01:20] BrittanyHuber opened #181 "Phase II - SHA DEV - Editing - Unable to upload photos"
When attempting to upload a new photo to a site, the picture does not appear.

To Recreate:
TMDL Strategies > Stream restoration
Inspections > Inspection Details
Select a photo to upload > save
the system does not display the photo, however it displays "Photo 1 of 1" as if there is a photo associated

[2015-04-07 15:10] GraceAi commented on #173
Fixed. Changed document upload path to be "\shahqhisdfs1\oed_gis\TMDL Program\DocumentManagement\". Web config file in Web service needs to be updated.

[2015-04-07 15:10] GraceAi commented on #181
Fixed. Changed photo upload path to be "\shahqhisdfs1\oed_gis\TMDL Program\DocumentManagement\". Web config file in Web service needs to be updated.

[2015-04-07 15:15] GraceAi commented on #174
Fixed. EFF_BMP_PLANNED_ID(not EFF_BMP_SELECTION_ID) should be associated to new site visit record.

[2015-04-07 15:18] GraceAi commented on #178
Unable to replicate this issue on KCI DEV...

[2015-04-07 15:20] GraceAi commented on #177
Unable to replicate this issue on KCI DEV...

[2015-04-07 15:23] GraceAi commented on #179
SP "EditEffBmp" misses BMP_TYPE as the parameter.

[2015-04-07 15:52] ehsan67 commented on #179
@GraceAi  added

[2015-04-07 16:38] GraceAi commented on #180
@BrittanyHuber, I can't find this strategy. Can you provide more information? Thanks!

[2015-04-07 16:46] GraceAi commented on #179
Fixed. Need to republish web service.

[2015-04-07 17:14] BrittanyHuber commented on #180
@GraceAi - the site is in district 5 - Charles County. This issue should persist with any of these tree sites with a status of "Proposed" or "Potential." It does not necessarily have to be the exact site I used as an example. If you still cant find one let me know! Thanks

[2015-04-07 19:30] GraceAi commented on #180
@BrittanyHuber, I can't find a planting tree with a status of 'Potential' on KCI DEV. For the planting tree with a status of 'Proposed', it seems working.

[2015-04-08 13:39] TaraF commented on #171
Note:  A GP process /script was missing from SHA.  A request has been sent to Jake Llyod to deploy it.  Will update status here when available.

[2015-04-08 14:58] TaraF commented on #172
This persisted in KCI dev.   Fixed -- the user is now forced to choose a version in Editing, before the Save button becomes enabled.

Please wait to test until pushed and notified.

[2015-04-08 15:00] BrittanyHuber commented on #180
@GraceAi this is present in SHA DEV.

[2015-04-08 19:43] BrittanyHuber opened #182 "Phase II - KCI DEV - 6.12.8 - edits do not appear in red in the feature manager"
When the user makes edits to a feature, the system does not present the text in the feature manager in the color red after the edit has been saved (during the specific session only)

To Recreate:
Start an editing session
TMDL Strategies > Tree Plantings
District 4
Select any tree site
Change the Site name
Save Edits
The changes are made in the feature manager, however they do not appear in the col

[2015-04-08 19:43] BrittanyHuber opened #183 "Phase II - SHA DEV - Editing - When making edits, user required to select Office"

[2015-04-08 19:49] #183 closed, assigned to nobody

[2015-04-09 12:13] TaraF commented on #177
Unable to replicate on SHA DEV either -- I am seeing info displayed in the Reduction tab for CBC.  Please see screen cap below.  Can you provide a specific example?  It may be a data issue?

![image](https://cloud.githubusercontent.com/assets/4104464/7066399/4781ae42-de90-11e4-8e8a-5312203d752b.png)

[2015-04-09 12:17] TaraF commented on #178
Unable to replicate in SHA DEV either -- this edit saved for me.  Brittany -- maybe we can walk through it together / screen share?

[2015-04-09 12:26] TaraF commented on #180
Cannot find that SITE_NAME value in LUCHANGE_BMP in the database.  Can you be more specific about your selection process so we can replicate it exactly?  (You don't state a selection criteria -- district =? or county?)

[2015-04-09 12:32] BrittanyHuber commented on #180
@TaraF I apologize, I thought I left the comment that it is District 5 > Charles county. Let me know if you cant find it and I will either find an different example or do a screen share.

[2015-04-09 12:35] BrittanyHuber commented on #178
@TaraF upon testing this again, it seems to be working in SHA DEV

[2015-04-09 12:35] #178 closed, assigned to BrittanyHuber

[2015-04-09 12:36] TaraF commented on #171
This is now working in SHA Dev. Please test.

[2015-04-09 12:38] BrittanyHuber commented on #177
@TaraF - when testing again, it seems that there is a slight lag in the response time when switching between features while on the reduction tab. So the information appears, it just took a few extra seconds to load.

[2015-04-09 12:50] TaraF commented on #176
This persists in KCI dev.  Grace -- can you take a look?

[2015-04-09 13:06] BrittanyHuber commented on #171
@TaraF - in the versioning tab, the only available tab is the Editor tab. The QC tab is missing even though I have admin rights.

[2015-04-09 13:15] TaraF commented on #180
Grace -- I think the issue is when there is no contract associated, the count will still say (1) on the Contracts tab. It probably then causes an issue with the count when adding one.  I found one without a contract behaving in this way, that you could test in KCI dev:

TMDL Strategies --> Planting Trees --> District 3
TMDL = 160104UT  (can just sort by the Contract column, it is the only empty on

[2015-04-09 13:46] GraceAi commented on #180
@ehsan67, for the example Tara provided(TMDL activity id is '1c514530-2724-4c2a-9741-e0f0849ed628'), the contract count returned is 1. But there is no contract number info for this contract. Can you take a look at database? Thanks.

[2015-04-09 14:29] ehsan67 commented on #180
Fixed. Please test it again.

[2015-04-09 15:05] GraceAi commented on #176
Fixed on KCI dev.

[2015-04-10 11:56] BrittanyHuber commented on #176
verified that this is working in KCI DEV.

[2015-04-10 12:30] BrittanyHuber commented on #181
verified that this is working in KCI DEV

[2015-04-10 12:31] BrittanyHuber commented on #180
verified that this is working in KCI DEV

[2015-04-10 14:13] TaraF commented on #171
Brittany -- please test in KCI dev (Admin rights can now see QC Reviewer tab)

[2015-04-10 16:00] GraceAi commented on #182
@BrittanyHuber, is the edited text or the entire row's text supposed to be red?

[2015-04-10 16:06] BrittanyHuber commented on #182
@GraceAi - the text row should be red in order to show that the feature was edited.

[2015-04-10 18:13] BrittanyHuber commented on #182
verified that this is working in KCI DEV

[2015-04-10 18:14] BrittanyHuber commented on #171
verified that this is working in KCI DEV

[2015-04-13 13:48] BrittanyHuber commented on #171
verified that this is working in SHA DEV

[2015-04-13 13:48] #171 closed, assigned to BrittanyHuber

[2015-04-13 13:49] BrittanyHuber commented on #172
verified that this is working in SHA DEV

[2015-04-13 13:49] #172 closed, assigned to TaraF

[2015-04-13 13:54] BrittanyHuber commented on #174
verified that this is working in SHA DEV

[2015-04-13 13:54] #174 closed, assigned to GraceAi

[2015-04-13 13:56] BrittanyHuber commented on #176
verified that this is working in SHA DEV

[2015-04-13 13:56] #176 closed, assigned to GraceAi

[2015-04-13 13:59] BrittanyHuber commented on #179
verified that this is working in SHA DEV

[2015-04-13 13:59] #179 closed, assigned to GraceAi

[2015-04-13 14:01] BrittanyHuber commented on #180
verified that this is working in SHA DEV

[2015-04-13 14:01] #180 closed, assigned to BrittanyHuber

[2015-04-13 14:03] BrittanyHuber commented on #182
verified that this is working in SHA DEV

[2015-04-13 14:03] #182 closed, assigned to GraceAi

[2015-04-13 14:05] BrittanyHuber commented on #181
@TaraF unable to upload photos in SHA DEV

[2015-04-13 14:05] BrittanyHuber commented on #173
@TaraF unable to upload documents in SHA DEV

[2015-04-13 15:06] TaraF commented on #173
please test again.  reference was missing from the config -- but has now been updated.

[2015-04-13 15:13] BrittanyHuber commented on #173
verified that this is working in SHA DEV

[2015-04-13 15:13] #173 closed, assigned to BrittanyHuber

[2015-04-13 16:14] TaraF commented on #181
Please test again.

[2015-04-15 19:49] BrittanyHuber opened #184 "Phase II - SHA PROD - extra document dispalyed on tab"
The documents tab indicates that there are 3 documents when only 2

To Recreate:
Assets > Trees > District 3
160093UT, 150033UT - documents tab says 3, however there are only 2

[2015-04-15 19:52] BrittanyHuber commented on #184
@TaraF this is not an issue in SHA DEV - 2 documents are displaying for this site in dev.

[2015-04-15 19:53] BrittanyHuber opened #185 "Phase II - SHA PROD - documents and photos will not upload"
Documents will not upload to assets or site selections

Photos will not upload to assets (inspection details)

[2015-04-15 20:05] BrittanyHuber opened #186 "SHA PROD - site delete issue in attribute manager"
When a site is deleted, the attribute manager highlights the next site below the deleted site in red as if it were the site being edited.

To recreate:
site selection > eff_bmp_site_selection
district 3
sort by SSID > delete site 1500001, SAVE
150004 highlights in RED

[2015-04-15 20:11] BrittanyHuber commented on #186
Also this seems to happen on the SAVE - when a strategy asset is deleted a dialog appears that says the site has been deleted - the site that takes the spot in the attribute manager of the site that has been deleted does not appear in red until you save. this dialog box informing that the site has successfully been delete does not appear when deleteing site selection features.

[2015-04-15 21:53] GraceAi commented on #186
Fixed the bug in clicking delete and save buttons. Added a confirmation box for site selection. Clicking delete button would directly delete the record. You don't need to click save again

[2015-04-16 19:19] TaraF commented on #185
Should be resolved -- John updated the App pool in IIS for rights to the folder.

[2015-04-20 17:18] BrittanyHuber commented on #184
Data issue. Need up to date data in DEV for testing

[2015-04-20 17:19] BrittanyHuber commented on #186
Verified that this is working in KCI DEV

[2015-04-21 13:34] BrittanyHuber opened #187 "PHASE III - KCI DEV - Stream UI getting stuck"
An error with the UI has been encountered results for streams. The data is not being changed but the UI view is getting hung up.

TMDL Assets > Stream Restoration
Sort by site name
Select Jones Falls
click in the attribute manager
sort by site name
select Jones Falls again
Sort by site name
Jones Falls appears twice, it has replaced the Site name of another feature (usually 150002UR)

[2015-04-21 14:09] BrittanyHuber commented on #185
Assets > Swales > District 3 > 130632 > Documents

Can upload any document no matter the size, as file type “Annual Report”
Can NOT upload any document, even the smallest, as file type “BMP Birth Certificate”
It seems to be that 4 mb is the limit where the error #2038 occurs.

In KCI DEV, BMP Birth Certificate file type does not exist. There are also a few others currently missing in DEV as well.

[2015-04-21 14:13] #177 closed, assigned to BrittanyHuber

[2015-04-21 14:19] GraceAi commented on #185
The following image shows the current file types accepted. Any document other than these will cause error. Can you let me know what types are missing, and which folder do they get sored?
![image](https://cloud.githubusercontent.com/assets/11429203/7254234/ba0d7c7e-e80f-11e4-8281-8eacca1b43fb.png)

[2015-04-21 14:29] BrittanyHuber commented on #185
@GraceAi - does the yellow highlight indicate that these file types are different in some way from the other file types?

[2015-04-21 14:36] GraceAi commented on #185
@BrittanyHuber, it means the actual folder is different from the original requirements. For example, Environmental Document is actually in Inspections/LUCHANGE_BMP in SHA, but requirement says Attachments.

[2015-04-21 15:08] GraceAi commented on #187
Can't replicate it. Probably data issue. In my side, I see the following issue. The general information/activity/reduction are all null values for this asset. Clicking in the attribute manager's general fields empties site name field. If sort by site name again, the asset would be moved to top or bottom because the site name is empty. Ehsan, can you take a look in db? Activity id for this asset is

[2015-04-22 15:20] BrittanyHuber commented on #185
@GraceAi - the following file types have been added and are not included in the list above and they are stored in the folders listed below:

Concept Design Report - Attachments
Entry Agreement - Attachments
BMP Birth Certificate - Attachments
Mapbook - Attachments
Task Order - Contracts
Miscellaneous - Other

Also, In the list above there are a few file types that are not pointing to the correct l

[2015-04-22 15:24] GraceAi commented on #185
@BrittanyHuber, thanks! Can you also provide the "Naming - Type of Document" of those missing documents?

[2015-04-22 15:29] BrittanyHuber commented on #185
@GraceAi - the name and file loaction are provided:

Concept Design Report - Attachments
Entry Agreement - Attachments
BMP Birth Certificate - Attachments
Mapbook - Attachments
Task Order - Contracts
Miscellaneous - Other

Is this not what you are looking for?

[2015-04-22 15:33] GraceAi commented on #185
@BrittanyHuber, they are the short names of the documents to generate file name stored in db. Please see column 2 in the image I provided.

[2015-04-22 15:37] BrittanyHuber commented on #185
@GraceAi - sure!

Concept Design Report - Attachments - ConceptReport
Entry Agreement - Attachments - EntryAgrmnt
BMP Birth Certificate - Attachments - BMPBirthCert
Mapbook - Attachments - Mapbook
Task Order - Contracts - TaskOrder
Miscellaneous - Other - Misc

[2015-04-22 16:20] GraceAi commented on #185
@BrittanyHuber, can you also provide an example of the file name for each of the missing file type? The first part of the file name might be structure id or contract number. For example, the file name of an IPA is AT5025382-IPA-20140513.pdf. The file name of an AsBuilt is 020154-AsBuilt-20140415.pdf

[2015-04-23 14:03] BrittanyHuber commented on #181
@TaraF - I am still unable to upload photos to sha dev.

[2015-04-23 15:12] BrittanyHuber commented on #181
verified that this is working in SHA DEV

[2015-04-23 15:15] BrittanyHuber commented on #186
verified that this is working in SHA DEV

[2015-04-23 19:11] BrittanyHuber commented on #186
verified that this is working in PROD

[2015-04-23 19:11] #186 closed, assigned to TaraF

[2015-04-23 19:12] BrittanyHuber commented on #181
Verified that this is working in PROD

[2015-04-23 19:12] #181 closed, assigned to BrittanyHuber

[2015-05-05 15:00] BrittanyHuber opened #188 "PHASE III - KCI DEV - Error Adding Stream Site Selection Feature"
When adding a stream site selection feature, the system returned the following IO Error

![image](https://cloud.githubusercontent.com/assets/8092133/7475412/72d1d22c-f315-11e4-8d2b-9cbf56fdf69d.png)

To Recreate:
Site Selections > Stream Site Selection
Enable Editing > Add
Select Stream Site Selection
Draw polyline
Next
Fill out the fields presented in the dialog box
Finish
IO Error encountered

[2015-05-05 15:03] GraceAi commented on #188
Discussed with Dustin. KCI will change field "CO_ID" in the database to allow for Null values.

[2015-05-05 15:22] BrittanyHuber opened #189 "PHASE III - KCI DEV - Geometry Error Adding Features"
When adding a tree site selection feature the system does not retain geometry and returns the following error.

![image](https://cloud.githubusercontent.com/assets/8092133/7475549/3a08bcd4-f316-11e4-9138-c3fdccb46f51.png)

To Recreate:
Site Selection > Tree Site Selection
Add
Select Tree Site Selection > Next
Fill out the fields presented in the dialog box
Finish
The feature is added to the widget

[2015-05-05 16:07] BrittanyHuber opened #190 "PHASE III - KCI DEV - Field Populating Errors"
Pavement Removal Site Selection - When presented with the list of fields to fill out when adding the feature, the system does not retain some of the edits upon submitting the feature. The system also does not automatically populate some of the fields that should be automatically populated.

Does not populate:
MS4 Jurisdictions
4 Miles to Airport
Imagery date

Were populated when creating the featu

[2015-05-05 16:26] BrittanyHuber opened #191 "PHASE III - KCI DEV - add/create buttons"
The system presents the user with two buttons to create a site selection feature, "Add" and "Create Str." The text "Create Str." should appear as "Pipeline" due to possible confusion with "Add."

[2015-05-05 16:43] BrittanyHuber opened #192 "PHASE III - KCI DEV - Add function should filter based on selection"
When the user is adding a site selection feature the system prompts them to select a structure type. In the drop down menu every structure type available is listed (tree site selection, eff bmp site selection, pavement removal etc.) If the user is searching by Pavement Removal and they select Add, the system should automatically filter the structure type "pavement removal site selection"  based on

[2015-05-05 16:48] BrittanyHuber opened #193 "PHASE III - KCI DEV - Symbology should be the same when adding new feature"
When the user adds a new feature the geometry is displayed as a hollow outline of the feature. This should appear as a polygon with the fill color of the respective feature.

Example:
New tree site seleciton feature added is displayed as a hollow outline
![image](https://cloud.githubusercontent.com/assets/8092133/7477884/de1ae424-f324-11e4-8990-eb7fdbc575f0.png)

Tree Site Selection feature that a

[2015-05-05 16:50] BrittanyHuber commented on #190
MS4 and 4 miles to airport are not populated for any feature created (site selections and assets)

[2015-05-05 16:59] BrittanyHuber commented on #189
The two letter code added to the end of the 7 digit number does not get populated for any feature added
Pavement removal = UI
Stream Site Selection = UR
Tree Site Selection = UT
Wetland Site Selection = AW
EFF BMP Site Selection = NO LETTERS, just the number
EFF BMP Retrofit Site Selection = NO LETTERS, just the number
Excess Land Site Selection =  NO LETTERS, just the number
Outfall Stabilization

[2015-05-05 17:06] BrittanyHuber commented on #190
site type and description are not maintained for any site selection feature

[2015-05-05 17:08] BrittanyHuber commented on #192
Also, this list is not complete - missing EFF BMP Site Selection and EFF BMP Retrofit Site Selection

[2015-05-05 17:11] BrittanyHuber commented on #189
No geometry data error also experienced with Wetland Site Selection, Pavement Removal Site Selection, Excess Lands Site Selection

[2015-05-05 17:29] BrittanyHuber opened #194 "PHASE III - KCI DEV - Site Selection ID's not populating correctly"
When the user adds a feature, the Site Selection ID should be populated with a two digit letter (ie. UT) on the end of the 7 digit number (ie. 2010000UT).

![image](https://cloud.githubusercontent.com/assets/8092133/7478771/e3454eb6-f32a-11e4-9b95-3d3c8aaede5d.png)

The two letter code added to the end of the 7 digit number does not get populated for any feature added, and should be as follows:
Pa

[2015-05-05 19:53] BrittanyHuber opened #195 "PHASE III - KCI DEV - IO Error when adding Swales"
When the user attempts to add a Swale Asset, the system returns the following IO Error:

![image](https://cloud.githubusercontent.com/assets/8092133/7481551/b4097960-f33e-11e4-97d8-bb766653e103.png)

The feature is not added.

[2015-05-06 12:45] GraceAi commented on #194
@ehsan67, can you take a look at your sp? Thanks!

[2015-05-06 13:18] GraceAi commented on #195
@BrittanyHuber, what was your input for this error?

[2015-05-06 16:02] GraceAi commented on #189
I can't replicate this error for Tree Site Selection, Wetland Site Selection, Pavement Removal Site Selection or Excess Lands Site Selection. @BrittanyHuber, did you draw the geometry when creating the feature?

[2015-05-06 16:56] ehsan67 commented on #194
@BrittanyHuber  fixed in KCI DEV please test agian.

[2015-05-06 17:14] BrittanyHuber commented on #195
@GraceAi
Add > Swales
120221 > Next
entered random values to populate each field for 3 and 4 > finish

[2015-05-06 17:22] BrittanyHuber opened #196 "PHASE III - KCI DEV - Stru_ID's populating with the wrong 2 letter code"
![image](https://cloud.githubusercontent.com/assets/8092133/7499015/fbeabb04-f3f2-11e4-898d-777e6634a4c7.png)

Catch Basin Cleaning = UC
Outfall Stabilization = UO
Street Sweeping = US
Stream Restoration = UR
Pavement Removal = UI
Wetlands = AW
Trees = UT

[2015-05-06 17:30] BrittanyHuber opened #197 "PHASE III - KCI DEV - Assets - For Credit Field"
When adding a TMDL Strategy Asset, the system does not include "For Credit" as an option to fill out when adding the feature. Upon submitting the feature this field is automatically populated.

![image](https://cloud.githubusercontent.com/assets/8092133/7499179/ea894a1e-f3f3-11e4-9dc9-8230e11fce9e.png)

![image](https://cloud.githubusercontent.com/assets/8092133/7499200/00535448-f3f4-11e4-9719-cb3

[2015-05-06 17:31] BrittanyHuber commented on #192
This is also an issue to Assets

[2015-05-06 17:36] BrittanyHuber opened #198 "PHASE III - KCI DEV - Stream Restoration Issues"
When adding a stream restoration feature the Stream Name field is not maintained upon submitting the feature.

![image](https://cloud.githubusercontent.com/assets/8092133/7499300/b0ba4c10-f3f4-11e4-88e0-d9f3fcb0fa61.png)

Also, the system does not allow the user to add a stream limit - it is not a feature type, so it is not available as an option in the feature type drop down menu.

[2015-05-06 17:40] BrittanyHuber opened #199 "PHASE III - KCI DEV - Asset - Cannot Add Outfall Stabilization"
When adding an outfall stabilization, the user is prompted to enter a 3 digit code to filter the NPDES structure. Upon selecting a 3 digit code, the system does not filter any results.

![image](https://cloud.githubusercontent.com/assets/8092133/7499409/62c09d4c-f3f5-11e4-8018-8fe65030e00a.png)

Add > Outfall stabilization
enter 020, 041, 210 - all of these are two digit county codes followed by a

[2015-05-06 17:44] BrittanyHuber opened #200 "PHASE III - KCI DEV - Street Sweeping Asset - Not Prompted to Add Geometry"
When attempting to add a street sweeping asset, the system does not prompt the user to add the geometry of the feature.

Add > Mechanical Street Sweeping
Enter Activity information > next
Enter feature information > next
Finish
query service error returned - no geometry data found for this asset

[2015-05-06 17:48] BrittanyHuber opened #201 "PHASE III - KCI DEV - Error 2032 when adding Catch Basin Cleaning"
When attempting to add a catch basin cleaning asset, the system returns the IO error #2032

![image](https://cloud.githubusercontent.com/assets/8092133/7499545/62b23d28-f3f6-11e4-8025-98c4dff14b7b.png)

Also, the shop value is not maintained upon submitting the feature

![image](https://cloud.githubusercontent.com/assets/8092133/7499559/7ac549fa-f3f6-11e4-857e-f7536a369a1c.png)

Add > catch basin

[2015-05-06 17:53] BrittanyHuber opened #202 "PHASE III - KCI DEV - Unable to Add EFF BMP RETROFIT Asset"
EFF BMP RETROFIT is not a feature type included in the widget, so it is not included in the feature type drop down menu when attempting to add a feature.

[2015-05-06 17:59] BrittanyHuber opened #203 "PHASE III - KCI DEV - Acres Should Auto Populate"
When adding a either a tree site or pavement removal site selection or asset, the system should auto populate the acreages based on the geometry of the site.

Asset - Credit Acres
Site Selection - Potential Credit Acres

[2015-05-06 18:12] BrittanyHuber opened #204 "PHASE III - KCI DEV - Incorrect Wetland Mast Type"
When adding a Wetland asset the only mast type available = urban tree planting
- mast type should = WP

[2015-05-06 18:55] BrittanyHuber opened #205 "PHASE III - KCI DEV - Pipelining Swales Issues"
When pipelining an eff bmp site selection into a swale and the site selection has more than 1 Planned BMP, the user may only want to choose 1. the way the system presents the option does not distinguish one planned bmp record from the other. the user will not know which one to select. There are also a few other errors during the pipelining process - which was unable to successfully complete.

Site

[2015-05-06 18:59] GraceAi commented on #196
@ehsan67, can you take a look at your stored procedures? Thanks.

[2015-05-06 18:59] BrittanyHuber commented on #205
Unable to pipeline any site selection feature to an asset

Also, Construction purpose dropdown menu is null for all feature types

[2015-05-06 19:00] GraceAi commented on #199
Data issue. Currently there is no data in npdes structure table.

[2015-05-06 19:02] GraceAi commented on #197
For credit value is populated based on status and county code in the back end. User is able to edit after that.

[2015-05-06 19:03] GraceAi commented on #203
@ehsan67, can you take a look at your stored procedures? Thanks.

[2015-05-06 19:03] GraceAi commented on #204
@ehsan67, can you take a look at your stored procedures? Thanks.

[2015-05-06 19:07] GraceAi commented on #200
Talked with Dustin. User won't draw geometry in the widget for a street sweeping asset.

[2015-05-06 19:09] BrittanyHuber opened #206 "PHASE III - KCI DEV - IO Error"
When adding a tree site selection feature the following error is returned
![image](https://cloud.githubusercontent.com/assets/8092133/7501409/9e9e9998-f401-11e4-957d-219101462fa2.png)

Pavement removal site selection
![image](https://cloud.githubusercontent.com/assets/8092133/7501472/2ba87e6c-f402-11e4-9835-8f0869d4a11a.png)

Wetland Site Selection
![image](https://cloud.githubusercontent.com/asse

[2015-05-06 19:40] BrittanyHuber opened #207 "PHASE III - KCI DEV - STRU_ID Numbering"
When creating a new feature the system is generating a higher number but it is not the next consecutive number

![image](https://cloud.githubusercontent.com/assets/8092133/7501638/8183518a-f403-11e4-9d36-1126caf7bad7.png)

Created a tree site in Harford county. The next consecutive number chosen was 121005UT. In the database the next consecutive number in Harford County is 120174UT.

[2015-05-06 19:58] BrittanyHuber opened #208 "PHASE III - KCI DEV - Reports"
Statewide summary is not returning a report

[2015-05-06 20:35] BrittanyHuber opened #209 "KCI DEV - Related TMDL Features Populating Incorrectly"
In the Admin tab select contract AT5025282. The fields in the related features tab are not populated correctly

![image](https://cloud.githubusercontent.com/assets/8092133/7502955/c11a94de-f40d-11e4-902d-0b826e2a1f1a.png)

[2015-05-06 21:19] GraceAi commented on #201
@ehsan67, there are duplicate MD_SHOP in LRInletCleaning.cs in web service, which causes SHOP field empty. Can you remove one?

[2015-05-06 21:19] GraceAi commented on #201
@BrittanyHuber, what was your input for this error?

[2015-05-06 21:24] GraceAi commented on #198
@ehsan67,  Stream Name is missing from the parameters in AddStreamRestoration. Can you add it?

[2015-05-06 21:31] GraceAi commented on #198
@BrittanyHuber, user can add a stream limit after adding a new Stream Restoration. Should adding a stream limit function be available during adding a new Stream Restoration process?

[2015-05-07 12:53] BrittanyHuber commented on #189
@GraceAi - yes I drew the geometry when prompted to while adding the feature. Upon submitting the feature the error is returned. However the feature is created.

[2015-05-07 12:56] BrittanyHuber commented on #198
@GraceAi - the workflow can remain as it is now.

[2015-05-07 12:58] BrittanyHuber commented on #201
@GraceAi -
Add > catch basin cleaning
entered activity information
entered feature information
finish
IO error #2032 returned
Shop value is not populated

[2015-05-07 13:00] GraceAi commented on #201
@BrittanyHuber, what was the feature information did your enter?

[2015-05-07 13:05] BrittanyHuber commented on #201
![image](https://cloud.githubusercontent.com/assets/8092133/7515793/1462cc44-f498-11e4-8619-6804b90b645b.png)
![image](https://cloud.githubusercontent.com/assets/8092133/7515806/2b2c5ecc-f498-11e4-866b-0f56470c688e.png)
![image](https://cloud.githubusercontent.com/assets/8092133/7515810/3505cd8e-f498-11e4-8e51-040be40ce1a9.png)

[2015-05-07 14:36] ehsan67 commented on #198
@GraceAi  added

[2015-05-07 17:17] GraceAi commented on #190
@Ehsan, can you add these missing parameters in AddPavementRemSiteSel? MS4 and 4 miles are probably data issue. Can you confirm?

[2015-05-07 17:49] dhenry-KCI commented on #200
The user will not be able to add Street Sweeping Assets through the widget, but the user can add Actual Sweepings (this works).

[2015-05-07 17:49] #200 closed, assigned to nobody

[2015-05-07 18:59] ehsan67 commented on #201
@GraceAi  md_shop fixed

[2015-05-07 19:07] ehsan67 commented on #196
@GraceAi  it might be old data, because I don't have "PU" at all in my code

[2015-05-07 19:18] GraceAi commented on #201
@ehsan67,  INLET_SOLIDS, INLET_SOLID_DRYWEIGHT and TOTAL_DRY_WEIGHT are missing. Can you add them?

[2015-05-07 19:21] GraceAi commented on #196
@ehsan67,  your use strategyType to generate the last two letters. Strategy Type for tree is FPU.

[2015-05-07 19:24] ehsan67 commented on #201
@GraceAi  added

[2015-05-07 19:27] GraceAi commented on #198
Fixed. Need to update web service.

[2015-05-07 19:37] GraceAi commented on #201
Fixed. Need to update web service and flex.

[2015-05-07 19:38] GraceAi commented on #206
Fixed. need to update flex.

[2015-05-07 19:43] GraceAi commented on #207
@dhenry-KCI, isn't the SS_ID supposed to be globally unique? If it is unique in each county, two features in two different Counties may have the same SS_ID.

[2015-05-07 20:03] dhenry-KCI commented on #207
@GraceAi , In the SS_ID, the first two numbers determine the County and the next four the SS_ID.So the four digit number only needs to be unique within each County.

[2015-05-07 20:07] ehsan67 commented on #204
@BrittanyHuber  @GraceAi  What should be the Mast types for Wetland asset?

[2015-05-07 20:11] GraceAi commented on #204
@Ehsan, currently in the program it is SW

[2015-05-07 20:11] GraceAi commented on #204
Sorry, it is "SM"

[2015-05-07 20:15] GraceAi commented on #204
@Ehsan, never mind. My answer was wrong.

[2015-05-07 20:16] BrittanyHuber commented on #204
@ehsan I am looking into this right now, I will let you know shortly

[2015-05-07 20:36] GraceAi commented on #195
@ehsan67,  In AddEffBmp, ESD_DEPTH, ACTUAL_DA_ACRES,  ACTUAL_IMPV_TREATED and PE_RAINFALL_TREATED are missing. Can you add them in the parameters?

[2015-05-08 12:43] BrittanyHuber commented on #204
@ehsan - the mast type should be "WP" Wet Ponds & Wetlands

[2015-05-08 15:26] GraceAi commented on #198
@ehsan67, Stream Name is still not populated. Can you check again?

[2015-05-08 19:20] johnshiu commented on #189
I have also tried to replicate this issue, but things appear to be creating properly without any geometry error message. @BrittanyHuber, maybe we can try creating a different editing version and seeing if it still occurs. Perhaps it be related to the specific version being edited?

[2015-05-11 12:19] ehsan67 commented on #196
@BrittanyHuber  fixed please text again

[2015-05-11 12:40] ehsan67 commented on #204
@BrittanyHuber  Fixed, please try again. @TaraF we need to copy "MAST_MDE_STRU" data to other environments (SHA prod, SHA dev)

[2015-05-11 12:57] ehsan67 commented on #202
@GraceAi  @TaraF  I wasn't sure who worked on that piece but widget is calling
http://vm-city102/TMDL/api/Domains/GetStrategyNames?format=xml&isexisting=true&database=edit

As you see "IsExisting=true" which returns only the types that have been used in the database. To return all types you need to pass false to that parameter

[2015-05-11 13:04] ehsan67 commented on #195
@GraceAi  they are added

[2015-05-11 13:31] ehsan67 commented on #198
@GraceAi  fixed

[2015-05-11 13:31] dhenry-KCI opened #210 "Active Editing Buttons Outside an Edit Session"
Tara,
As we discussed, there are several edit buttons that are active outside an edit session since we had a phased release allowing editors to add inspections, photos, etc before full versioning was in place. The following are locations within the widget where the user is allowed to add/delete items outside an edit session. Please disbale the add/Delete button in all locations when the user is no

[2015-05-11 14:03] BrittanyHuber commented on #189
@johnshiu @GraceAi - when I first went through the process I populated all of the fields and upon selecting "finish" the system returned a mssage that the site selection feature was successfully added and all of the fields were populated, however it returned the "no geometry error" and the geometry was missing

When I go through the process now - I created a new version and went through the steps

[2015-05-11 15:05] ehsan67 commented on #207
Please test again

[2015-05-11 17:46] GraceAi commented on #189
@BrittanyHuber, Ehsan is adding the missing parameters in database. I will let you know when to retest. Thanks!

[2015-05-11 20:01] ehsan67 commented on #203
I modified SPs to calculate and populate those values , for TreeSiteSelection, PavementRemovalSiteSelection , and all Lu_Change_BMP assets . @BrittanyHuber please test again and confirm if the result is right

[2015-05-13 15:01] BrittanyHuber opened #211 "Photos do not bulk upload"
The requirements state that the user should be allowed to bulk upload photos - however when adding a photo to an inspection, the user is only able to select 1 photo at a time.

[2015-05-13 15:17] BrittanyHuber opened #212 "Map service error"
The system encounters a map service error in SHA PROD upon launching the widget.

![image](https://cloud.githubusercontent.com/assets/8092133/7613924/a3c82776-f961-11e4-9127-4d003878cd08.png)

[2015-05-13 15:18] BrittanyHuber commented on #212
@TaraF - this was an issue before that was never able to be replicated, however it is an issue again in SHA prod.

[2015-05-14 13:30] BrittanyHuber commented on #190
@GraceAi - imagery date is populated by the user, this should not be populated automatically

[2015-05-14 19:41] BrittanyHuber commented on #205
The failure to create strategies error that occurs ~5 times in a row. You have to click OK multiple times for the error message to go away. Each time you select OK, the background becomes more clear.

[2015-05-15 14:57] GraceAi commented on #202
@Ehsan @BrittanyHuber, which one is the EFF BMP RETROFIT Asset? What is the code?

[2015-05-15 15:02] ehsan67 commented on #202
@GraceAi  seems like Eff BMP retrofits are stored in EffBMP table. so you should use AddEffBmp
@dhenry-KCI  Does it sound right?

[2015-05-15 15:44] BrittanyHuber commented on #204
fixed.

[2015-05-15 15:44] #204 closed, assigned to BrittanyHuber

[2015-05-15 15:46] BrittanyHuber commented on #203
fixed.

[2015-05-15 15:46] #203 closed, assigned to BrittanyHuber

[2015-05-15 17:32] TaraF commented on #193
Tree Site Selection in the map service is only an outline of green around the polygon.  Planting Trees Strategies in the map service are the dark green filled polygon.  Add graphics appear to have a blue fill already, like Grace indicated.

Please test again, and see if there is a disagreement in how the display should be.

[2015-05-15 17:32] TaraF commented on #191
This has been changed. Please test.

[2015-05-15 17:36] TaraF commented on #205
See email about items.  For the Duplicate SSID review table, the geometry is now zoomed to when selecting an item in the list (clicking on a row in the datagrid), as requested.

Also, Grace clarified what needed to be passed in for services, and the create appears to be working for EFF BMPs as well as non- EFF BMPs.

Construction Purpose Dropdown menu issue -- i cannot really replicate it.  If the

[2015-05-15 17:36] TaraF commented on #209
This is fixed, please test.

[2015-05-15 17:37] TaraF commented on #210
This is fixed, please test.

[2015-05-15 18:02] GraceAi commented on #195
@BrittanyHuber, please test

[2015-05-15 18:05] GraceAi commented on #198
@BrittanyHuber, please retest.

[2015-05-15 18:19] GraceAi commented on #201
@BrittanyHuber,  please retest. However, IO error #2032 persists because geometry retrieve failure. Existing CBCs also return this error. I believe it is data issue.

@ehsan67, can you confirm it?

[2015-05-18 18:10] GraceAi commented on #211
Finished. Need to update flex

[2015-05-18 18:23] dhenry-KCI commented on #202
@ehsan67 @GraceAi - Yes EFF_BMP Retrofits are stored in the EFF_BMP table.

[2015-05-21 10:34] BrittanyHuber commented on #191
@TaraF - I am not seeing this button at all now

![image](https://cloud.githubusercontent.com/assets/8092133/7746803/645b031a-ff83-11e4-9a2a-98bc1a530fac.png)

[2015-05-21 10:37] BrittanyHuber commented on #193
tested in KCI DEV and it is fixed.

[2015-05-21 10:37] #193 closed, assigned to BrittanyHuber

[2015-05-21 10:44] BrittanyHuber commented on #207
@ehsan67 - wetlands and pavement removal are not populating with a number or a code. Also, it seems that the number being populated is not the next highest number available in the selected county. The number being populated starts with 1000.

![image](https://cloud.githubusercontent.com/assets/8092133/7746952/8b9adef4-ff84-11e4-8478-45d09e2b82a3.png)

[2015-05-21 10:57] #197 closed, assigned to nobody

[2015-05-21 11:03] BrittanyHuber commented on #191
tested in KCI DEV and it is fixed.

[2015-05-21 11:03] #191 closed, assigned to BrittanyHuber

[2015-05-21 11:06] BrittanyHuber commented on #194
@ehsan67 - same issue as #207 - seems to be populating with numbers starting in the 1000's instead of the next highest number

[2015-05-21 11:11] BrittanyHuber commented on #195
@GraceAi - I am still encountering errors when adding swales

![image](https://cloud.githubusercontent.com/assets/8092133/7747431/5c697268-ff88-11e4-9851-4bfca501880d.png)

[2015-05-21 11:13] BrittanyHuber commented on #198
tested in KCI DEV and it is working

[2015-05-21 11:13] #198 closed, assigned to BrittanyHuber

[2015-05-21 11:19] BrittanyHuber commented on #201
tested in KCI DEV - able to add feature. @ehsan67 - error 2032 still persists due to data issue?

[2015-05-21 11:34] BrittanyHuber commented on #209
@TaraF - Type and Status are still populating as the coded values.

![image](https://cloud.githubusercontent.com/assets/8092133/7747767/c1369272-ff8b-11e4-9dd0-7f1f57513572.png)

[2015-05-21 12:12] BrittanyHuber commented on #210
@TaraF the following are still active:

Inspections (Delete) - All Inspections
Inspection Detail (Add/Delete)- Streams Only
Stream Limit (Delete) - Streams Only
LUC_Practice (Delete) - LU_CHANGE BMP Only
Upload Photo - All
Actual Sweep - (Delete) Street Sweeping
Site Visits (Delete) - All Site Selection
Agency Reviews (Delete) - All Site Selections
As-Built (Delete) - All Strategies
Plat (Delete)

[2015-05-21 12:22] BrittanyHuber commented on #205
@TaraF - in this window the values still appear as coded values - due to space issue I think this is ok, what do you think?

![image](https://cloud.githubusercontent.com/assets/8092133/7748377/da9e8a02-ff91-11e4-8383-2719b091c4e0.png)

Also, I am still encountering construction purpose issue...
Site selection > eff bmp site selection
distrct 4 > harford > 1200005
Create Str.
Swales > Next
1200005U

[2015-05-21 13:19] ehsan67 commented on #194
@BrittanyHuber  sorry I forgot to tell you , I reset the number, so it is normal to see it starts form 1000. Each Strategy Group (for example : Stream Restoration, Outfall, StreetSweeping and etc.) has its own counter which starts from 1000 and goes up

[2015-05-21 13:42] GraceAi commented on #195
@BrittanyHuber, can you post the screenshots of your input. I can't replicate it.

[2015-05-21 14:08] ehsan67 commented on #207
@BrittanyHuber  sorry I forgot to tell you , I reset the number, so it is normal to see it starts form 1000. Each Strategy Group (for example : Stream Restoration, Outfall, StreetSweeping and etc.) has its own counter which starts from 1000 and goes up.

I believe I fixed wetlands, is "IUSR" the strategy type for PavementRemoval?

[2015-05-21 14:19] GraceAi commented on #207
@ehsan67, PavementRemoval's strategy type is IMPP.

[2015-05-21 14:43] ehsan67 commented on #207
@BrittanyHuber  what are the letters that I need to append to the generated Stru number for IMPP ?

[2015-05-21 14:58] BrittanyHuber commented on #207
@ehsan67 - sounds great! so it is working then. pavement removal is "UI"

[2015-05-21 15:10] ehsan67 commented on #207
fixed

[2015-05-21 16:20] BrittanyHuber commented on #195
@GraceAi - I am unable to replicate. If I encounter this again I will repost. Thanks!

[2015-05-27 14:07] BrittanyHuber commented on #207
@ehsan67 - pavement is now working but wetlands are still not populating with a number and code (code = AW)

[2015-05-28 12:47] BrittanyHuber commented on #190
tested in KCI DEV and it is working at this time.

[2015-05-28 12:47] #190 closed, assigned to nobody

[2015-05-28 13:09] BrittanyHuber commented on #202
tested in KCI DEV and verified that this is working

[2015-05-28 13:09] #202 closed, assigned to GraceAi

[2015-05-28 13:19] BrittanyHuber commented on #211
tested in KCI DEV and verified that it is working

[2015-05-28 13:19] #211 closed, assigned to GraceAi

[2015-05-28 13:19] BrittanyHuber commented on #206
tested in KCI DEV and verified that this is working

[2015-05-28 13:19] #206 closed, assigned to GraceAi

[2015-05-28 13:20] BrittanyHuber commented on #194
tested in KCI DEV and verified that this is working

[2015-05-28 13:20] #194 closed, assigned to BrittanyHuber

[2015-05-28 14:09] BrittanyHuber commented on #196
tested in KCI DEV and verified that this is working

[2015-05-28 14:09] #196 closed, assigned to BrittanyHuber

[2015-05-28 14:10] BrittanyHuber commented on #207
tested in KCI DEV and verified that this is working

[2015-05-28 14:10] #207 closed, assigned to BrittanyHuber

[2015-05-29 17:29] TaraF commented on #205
Coded values are good at this point -- you are right, full name will be cut off anyways due to space.

Construction purpose issue should be fixed -- all dropdown values should be available.  Please test other cases also.

Please wait to test until notified of push.

[2015-05-29 18:17] TaraF commented on #209
Change is made -- will cut off text due to space issue.

Please wait to test until notified of push.

[2015-05-29 18:18] TaraF commented on #210
Brittany -- let's go over these when you have a chance.   Thanks!

[2015-06-02 14:10] TaraF commented on #210
Fixed.  Please test for both non-editing and editing.

[2015-06-03 13:12] BrittanyHuber commented on #188
@GraceAi - i am still encountering an error when adding stream site selection features.  ![image](https://cloud.githubusercontent.com/assets/8092133/7960709/8b9f5212-09d0-11e5-87cb-6c2bcad47503.png)

[2015-06-03 13:13] BrittanyHuber commented on #192
tested in KCI DEV and verified that this is working

[2015-06-03 13:13] #192 closed, assigned to nobody

[2015-06-03 13:14] GraceAi commented on #188
@BrittanyHuber, I told Ehsan yesterday. He is working on it.

[2015-06-03 13:19] BrittanyHuber commented on #195
tested in KCI DEV and verified that it is working

[2015-06-03 13:19] #195 closed, assigned to BrittanyHuber

[2015-06-03 13:21] BrittanyHuber commented on #188
@ehsan67 - is this ready to be tested?

[2015-06-03 13:27] GraceAi commented on #188
@BrittanyHuber, ready for test. Thanks!

[2015-06-03 13:41] BrittanyHuber commented on #188
tested in KCI DEV and verified that this is working.

[2015-06-03 13:41] #188 closed, assigned to nobody

[2015-06-03 13:56] BrittanyHuber commented on #209
tested in KCI DEV and verified that this is working

[2015-06-03 13:56] #209 closed, assigned to BrittanyHuber

[2015-06-03 14:22] BrittanyHuber commented on #210
tested in KCI DEV and verified that this is working

[2015-06-03 14:22] #210 closed, assigned to BrittanyHuber

[2015-06-03 16:07] BrittanyHuber commented on #205
tested in KCI DEV and verified that this is working.

[2015-06-03 16:07] #205 closed, assigned to BrittanyHuber

[2015-06-03 18:02] BrittanyHuber commented on #199
@GraceAi - i am still seeing an error when adding outfall assets. site selections are working fine at this point.

![image](https://cloud.githubusercontent.com/assets/8092133/7967617/23d0f446-09f9-11e5-83d9-f6cd7d599517.png)

[2015-06-03 18:12] GraceAi commented on #199
@BrittanyHuber, which npdes structure number did you select?

[2015-06-03 18:16] BrittanyHuber commented on #199
@GraceAi - 1000495.302

[2015-06-03 19:21] BrittanyHuber commented on #199
tested in KCI DEV and verified that this is working.

[2015-06-03 19:21] #199 closed, assigned to nobody

[2015-06-03 19:22] BrittanyHuber commented on #189
tested in KCI DEV and verified that this is working.

[2015-06-03 19:22] #189 closed, assigned to nobody

[2015-06-05 14:52] BrittanyHuber opened #213 "PHASE III - SHA DEV - geometry error when adding features"
when adding features, the query service error "no geometry found for this asset"

The feature is added but the geometry is not

Trees, swales, pavement, streams, wetlands - all returning the error

[2015-06-10 16:52] BrittanyHuber opened #214 "PHASE III - SHA DEV - fields need to be removed from ADD process"
When adding new features the system prompts the user to fill out certain fields that it will actually update for the user automatically regardless of the user input. For example, the user is required to populate the county and district fields when adding a feature. However, the system will override the user populated values and populate automatically based on the geometry. So if the user draws the

[2015-06-10 17:05] BrittanyHuber opened #215 "PHASE III - SHA DEV - fields not populating correctly"
A few fields are not working properly when adding a new feature:

**Pavement removal site selection** - _Area (FT) field_ - should populate automatically based on geometry when adding a new feature
**All Features (site selection and assets)** - _Bay Shed Segment field_ - does not populate. should populate automatically based on overlay information
**EFF_BMP Retrofit site selection** - _Site Type f

[2015-06-10 17:12] BrittanyHuber opened #216 "PHASE III - SHA DEV - remove street sweeping from ADD process"
When searching by All TMDL Strategies and the user selects Add, a list of all available feature types to add is presented in the drop down menu. Mechanical Street Sweeping needs to be removed from this list.

Select by: Strategies > All TMDL Strategies
Filter By: Geography > District 4
OK
Add
Select feature type > Mechanical Street Sweeping is available. Needs to be removed.

[2015-06-10 17:30] BrittanyHuber opened #217 "PHASE III - SHA DEV - long wait time when adding features"
When adding certain features the wait time is very long before the feature is added. The system does not present the user with any notifications that it is working on adding the feature, so the user may think its an error and will try to add the feature again. The system should notify the user that it is working on adding the feature in some way.

[2015-06-11 15:49] GraceAi commented on #215
@BrittanyHuber, in EFF_BMP Retrofit site selection, what is the correct site type field information?

[2015-06-11 16:00] GraceAi commented on #216
Fixed. Need to update flex

[2015-06-11 16:01] GraceAi commented on #214
Fixed. Need to update flex.

[2015-06-11 17:46] BrittanyHuber commented on #215
@GraceAi - I apologize that is correct. No changes need to be made for EFF_BMP_RETROFIT site selection.

[2015-06-11 17:48] BrittanyHuber commented on #217
@GraceAi - do you think the long wait time could be resolved at all or is it always going to take awhile for the system to add the feature?

[2015-06-11 18:12] GraceAi commented on #217
@BrittanyHuber, I notice this issue happens when adding Eff BMP Retrofit Site Selection, Outfall Site Selection, Eff BMP strategy and Outfall strategy. Do you see if other assets have this issue? If not, I think the reason is that they use NPDES IDs to perform geoprocessing, which takes a long time.

@ehsan67, is there any way to improve it?

[2015-06-11 18:19] BrittanyHuber commented on #217
@GraceAi - the list you have is also what I have in my notes. All others seem to be fine.

[2015-06-15 13:24] GraceAi commented on #217
Used a busy cursor to show the system is busy adding the feature. Need to update flex code.

[2015-06-15 15:49] ehsan67 commented on #215
@BrittanyHuber  Pavement removal site selection : Is it simply the geometry Area in ft?
All Features (site selection and assets) : is it geometry Area in ft?
Outfall Assets : There isn't TMDL_STRUCTURE_ID is the table. it is called NPDES_STRUCTURE_ID. Is that right?

[2015-06-15 15:53] ehsan67 commented on #217
I don't think we can do anything about it since it is related to geoprocessing

[2015-06-15 17:10] BrittanyHuber commented on #215
@ehsan67 - pavement removal site selection is the geometry area in FT.

All Features (site selection and assets): Bay shed segment is called CBSEG_58 in the database

Outfall Assets: the TMDL ID should be the "STRU_ID" field from the OUTFALL_STABILIZATION table in the database.

[2015-06-15 19:02] BrittanyHuber opened #218 "Phase III - SHA DEV - Pipelining"
A few issues were encountered with the piplining process in SHA DEV.

Step 5 of the process "Review Information" the SSID is presented as the GUID string instead of the 7 digit/two letter code (ie. 1200001UT). When pipelinign a swale the "Planned ID" is presented as the GUID. Also, the Strategy Type is still the coded value (ie. FPU) instead of planting trees/urban tree planting.

When searching b

[2015-06-17 15:50] BrittanyHuber opened #219 "PHASE III - SHA PROD - Feature Identify"
When the user identifies a feature on the map, the attributes should display at the bottom.